[2013-05-07 15:46] raucao opened #1 "Get conditions/availability for Unperfekthaus"

[2013-05-16 17:17] #1 closed, assigned to thegcat

[2013-05-16 17:19] raucao opened #2 "Prepare announcement and call for contributions"
We need a general announcement, including an explanation of how it all works and how people can contribute.

[2013-05-26 13:43] jhilden opened #3 "Audio, music & light equipment"
We need somebody to take care of audiovisual equipment, e.g.
- [x] make sure the music equipment the venue has fits our needs, or get something else
- [x] organize music or a DJ
- [x] possibly we need an PA system
- [x] maybe we need some extra lighting (e.g. outside)

@railsbros-dirk seems to have some experience in this area ;)

Also maybe @putpat wants to sponsor this?

[2013-05-26 13:46] jhilden opened #4 "Catering (during the day)"
We need somebody to take care of catering during the day.  Probably Breakfast and Lunch on both Saturday & Sunday.  Maybe also some snacks.

For past events we have gotten food from, e.b. http://www.habibi-koeln.de/

[2013-05-26 13:47] jhilden opened #5 "Drinks"
We need somebody to organize drinks, alcoholic as well as non-alcoholic.

At Raislove we always get our drinks from http://getraenkeservice-net.de/

[2013-05-26 13:50] raucao commented on #4
Nope, for the past RailsCamps we had sandwiches n stuff.

That was actually a great concept. We had food that was both breakfast and lunch, and that you could eat all day, effectively eliminating the need for a lunch break. And everybody could eat when they wanted, anytime. Let's do that again!

[2013-05-26 13:50] jhilden opened #6 "Finances, book keeping, budget management"
We need somebody to keep an overview over all the finances & budget.

@thilo already said that he can help with this

[2013-05-26 13:52] raucao commented on #3
Let's split it up, so that more people can do less.

[2013-05-26 13:52] jhilden opened #7 "Sponsors"
We need one or more persons taking care of finding sponsors

[] creating a sponsor package
[] work with the @eurucamp people on joint sponsor packages
...

[2013-05-26 13:54] jhilden opened #8 "Ticket sales"
We need somebody to take care of ticket sales.  Find a partner for selling the tickets, implement the solution, etc.

[2013-05-26 13:57] jhilden opened #9 "Wifi"
We need one or more person to take care of a a working wifi at the venue.

@rubyberlin might have/buy some wifi equipment

We might also be able to talk to the Cologne CCC people who organize the internet at the SIGINT.

[2013-05-26 13:58] jhilden opened #10 "Grillmaster / BBQ"
On Saturday evening we would like to have a BBQ and we need somebody to organize that.

I was thinking of @schorsch ;)   Maybe @salesking might also be interested in sponsoring this?

[2013-05-26 14:03] raucao commented on #10
Brätel Galore!

[2013-05-26 14:06] jhilden opened #11 "Session planning"
We need somebody to manage the session planning.  Since we are expecting 200 participants we probably need to prepare the session planning in advance somehow.

Maybe http://www.timetabler.de/ by @startupbus could be the base for a solution for that.

[2013-05-26 14:06] raucao commented on #8
We used Eventbrite for our last 5apps hackathon. That was a pretty nice solution. And we can just integrate the widget on the site.

[2013-05-26 14:07] raucao commented on #11
We can use Lanyrd for the session schedule. I claimed the event, which means we can add rooms and have a proper schedule with overview, time slider, etc.

[2013-05-26 14:14] jhilden opened #12 "Activity management"
We need one or more person coordinate all the different activities:
- climbing
- soccer
- basketball
- indoor skateboard/BMX
- outdoor BMX
- frisbee
- maybe board games (?)

@eurucamp is working on a nice app to organize activities during conferences that might be helpful for us.  The app is not public yet, but you can ask @argorak or @myabc if you want to have access to the repo. (completely new

[2013-05-26 14:17] raucao commented on #12
I think we shouldn't organize too many, so that there's room for people to organize their own activities. Worked out great at EuruCamp. In my opinion the ones that take a lot of room in the main hall might be the best to omit for now, i.e. soccer and basketball. We could rather do climbing in all slots and then have the rest of the hall for participant-organized activities. Does that make sense?

[2013-05-26 14:18] raucao commented on #12
Oh, and as with the other stuff: 1 person/issue for one activity. ;)

Btw, the new activities app will be ready for testing next week I heard.

[2013-05-26 14:22] jhilden opened #13 "Venue, power, chairs, "Hausmeister""
I will try to take care of working with the venue to sort out all the requirements we have for the location.
- [ ] power outlets
- [ ] chairs
- [ ] maybe a hacker tent in front of the building  => #16

[2013-05-26 14:34] jhilden commented on #4
Sounds good  :+1:

(But Habibi is still very tasty and can also be eaten all day)

[2013-05-27 08:08] schorsch commented on #10
Yes i'm in for it. Would need the number of peoples involved

[2013-05-27 08:30] jhilden commented on #10
Awesome!  We are planning to have 200 ppl there.   The Kletterhalle already has one Gasgrill that we could rent, but I don't know how big it is.

[2013-05-27 13:15] koos commented on #8
Support our local startup: http://www.loudplaces.com/
Prices are more than 1 EUR cheaper than Eventbrite and Amiando
We're using it for interactive-cologne

[2013-05-27 13:15] koos commented on #7
I could do that.

[2013-05-27 13:16] koos opened #14 "Railscamp Xk Run"
I would like to organize a http://railsrunners.org/ run

[2013-05-27 13:31] raucao commented on #8
It doesn't seem like it has good management for event organizers. There's not even _any_ information about that on the whole site. At least I couldn't find any. Sometimes it's worth to pay that 1 EUR more. ;)

[2013-05-27 13:33] koos commented on #8
I don't say it's the best choice, but hey, it works, you can buy a ticket, there are vouchers...
but no pressure :)

On May 27, 2013, at 3:31 PM, Sebastian Kippe notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, T

[2013-05-27 13:36] raucao commented on #7
Go for it! Maybe create a Titanpad for brainstorming the package types etc, so we can help you.

[2013-05-27 13:37] raucao commented on #8
Proper widget for our site? Ticket returns? Waiting list?

I'll have a look at it, but I won't sign up for sth that doesn't tell me what it does. ;)

[2013-05-27 13:38] raucao commented on #14
\o/ Awesome!

[2013-05-27 13:38] koos commented on #8
*\* this email brought to you by ✓ http://instantcheckmark.com ✓ **

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp.com - a web based deal tracking and portfolio management tool **

[2013-05-27 14:34] jhilden commented on #4
Another option:  http://www.mariecurry.de/    That way we wouldn't have to organize anything inside the venue.

[2013-05-27 14:49] raucao commented on #4
Does someone know where the wraps and stuff came from on the last RailsCamp? /cc @bumi

[2013-05-27 15:14] moonglum commented on #11
I would like to help with that :smile:

[2013-05-27 15:17] moonglum commented on #9
I contacted zakx.

[2013-05-27 15:49] raucao commented on #11
@moonglum Nice! I'll get you access to the activities app by the eurucamp guys, when it's ready. I have a feeling we could use/extend it for our session planning.

[2013-05-27 18:56] moonglum commented on #11
@skddc Sounds great :smile:

[2013-05-27 19:01] moonglum commented on #8
We could also ask the [nicer](https://www.getnicer.com) guys, what we would need to pay for their systems. They also handle the stuff during the event like an app with the up to date schedule etc. It worked great at RailsBerry.

It's invite-only, but I guess we clarify :wink:

[2013-05-27 19:04] moonglum commented on #4
Sandwiches sound like a great idea, and also thumbs up for Habibi :wink: Any one with experience to plan food for so many people that spend the entire day (and for some the entire night)?

[2013-05-27 19:05] moonglum commented on #3
Don't poke in the wound, there are no Galaxy Cats anymore :crying_cat_face:

[2013-05-27 19:06] moonglum commented on #3
@klaustopher @EinLama Maybe you can harass your boss to get putpat music for the weekend?

[2013-05-27 19:06] raucao commented on #4
With cold finger food we only need enough of it and place tablets in one or 2 places. That's the beauty of it.

[2013-05-27 19:07] raucao commented on #3
Sound system sponsor maybe?

[2013-05-27 19:10] moonglum commented on #3
Would be awesome :wink: Just sell it to your boss as "recruiting cost" :tongue:

[2013-05-27 19:29] thilo commented on #6
Do you have any numbers yet i can use?

[2013-05-27 19:41] moonglum opened #15 "Camera Equipment"
As @bitboxer just reminded me: We may want to record talks etc. He recommended [DV Kameraverleih](http://dv-kameraverleih.de/) where you can get a "professional equipment for 40 Euro a day" :smile:

[2013-05-27 19:47] bitboxer commented on #15
I would vote for:
- Sony HDR-FX1000  (EUR 22,-/Tag), a real work horse. Everyone uses those.
- Some Tapes or Laptop with Firewire and enough disc space
- Vinten PRO-5 (EUR 4,-/Tag)
- Mics and other cables

BUT: get at least a day of training on the camera under real conditions. This is not a kids toy and needs to be setup correctly to get the best recordings.

[2013-05-27 20:22] jhilden commented on #6
I shared a Google Docs spreadsheet with the costs for the venue with you.  We don't really have any solid numbers beyond that, yet.

[2013-05-27 22:39] koos commented on #8
nicer is nice... but

-> support your local startup

#justsaying

On May 27, 2013, at 9:01 PM, Lucas Dohmen notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://deal

[2013-05-28 07:20] klaustopher commented on #3
Getting music won't be a problem ;) I'll ask about it

[2013-05-28 09:18] moonglum commented on #3
:+1:

[2013-05-28 10:29] moonglum commented on #9
I contaced Tom from the organisation team of evoke (same location, therefore probably same problems)

[2013-05-28 13:37] moonglum commented on #9
The cites will be in German, sorry :wink:

Tom (from evoke orga):

Stephan (from evoke networking):

[2013-05-28 14:30] thilo commented on #6
Can I see the contract details? to get a clue what is included to come up what else to expect cost wise.

[2013-05-28 15:18] raucao opened #16 "Hacker tent"
Something similar to the RailsBerry tent. Or maybe macgyver us sth.

[2013-05-28 15:41] jhilden commented on #8
Requirement:  The solution needs to be able to withstand traffic peaks.

[2013-05-28 16:13] moonglum opened #17 "Coffee"
We need Coffee for the conference.

[2013-05-28 16:28] raucao commented on #17
![overcaffeinated](https://f.cloud.github.com/assets/842/573555/a320e600-c7b3-11e2-9161-9633fbac4948.gif)

[2013-05-28 16:39] raucao opened #18 "Reception"
We need a reception stand, and we need to put up a schedule where people can put their names in for operating it for an hour each.

[2013-05-28 16:45] raucao opened #19 "Lanyards / Passes"
We need to create conference passes (no need to print names, we can just let people fill them in on the spot). We also need lanyards. We have tons in the office, but it should probably be a lanyard sponsor who pays for more than just the lanyards, because it's extremely visible advertising.
- [ ] Design and print passes
- [ ] Get plastic jackets for the passes
- [ ] Get lanyards

[2013-05-28 16:47] raucao opened #20 "TV/monitor screens"
We need some big-ass screens for Twitter wall, schedule, etc.. Maybe we can borrow them from some friendly companies?

[2013-05-28 19:15] koos commented on #7
http://titanpad.com/BSc5bPt5S3

On May 27, 2013, at 3:36 PM, Sebastian Kippe notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp.com - a web based deal

[2013-05-28 20:04] thilo commented on #8
I could also ask paul if we can use tito for that as well, would lower the setup as we are using it for eurucamp and jrubyconf eu already. right now we only pay 4% on credit card transactions or paypal fees.

[2013-05-28 20:13] jhilden commented on #16
Looked up some prices.  Here it would be 400-900€ http://mpk24.de/100

[2013-05-28 20:39] raucao commented on #16
Bull riding und Hüpfkissen! :)

[2013-05-28 20:46] jhilden commented on #16
"Railscamp - Cowboy Edition".   Yieeeha!   :cow: :circus_tent: :gun:

[2013-05-28 20:49] raucao commented on #7
\o/

[2013-05-28 20:49] raucao commented on #16
By the way, we need to have a proper football table! Maybe in the tent?

[2013-05-28 20:54] jhilden opened #21 "Foosball tables ("Kicker")"
Maybe we can just borrow tables from some local agencies:  @railslove, HomeOffice Cologne, @adcloud, ???

Then we would just need to take care of transportation.

Anybody want to take care of that?

[2013-05-28 20:54] jhilden commented on #16
foosball table => #21

[2013-05-28 20:58] jhilden commented on #19
Do we really need them?  Can't we just use Kreppband + Edding for names?   I personally find them stupid and unecologic.  Unless we really need a Lanyrd sponsor, I would vote for not having them.

[2013-05-28 21:08] thilo commented on #4
Any numbers for the costs?

[2013-05-28 21:13] thilo commented on #10
costs would be interesting aswell.

[2013-05-28 22:31] koos commented on #8
Loudplaces offers Interactive Cologne: 1 EUR + 5% and we have 25% off. That means: instead of 2.25 for a 25 EUR ticket, 1.68 - which is a great deal. I can arrange the same deal if needed.

On May 28, 2013, at 10:04 PM, Thilo Utke notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Am

[2013-05-29 07:52] moonglum opened #22 "T-Shirts?"
Do we want to offer T-Shirts? I always like to come back from a conference/... with a T-Shirt personally. There are basically three options in my opinion:
- The Ticket includes a T-Shirt (would require a price raise)
- You can add a T-Shirt at ticket-checkout optionally
- We don't offer T-Shirts :wink:

I personally prefer option 2. But we would need a design then. But it wouldn't add any cost, be

[2013-05-29 09:48] raucao commented on #22
The problem is that a proper print (not digital, because that sucks and the shirts are done after a couple times washing) requires sifters to be produced and a bit of work to prepare the graphics for those. As that is upfront cost, the price of the shirts would vary, depending on how many we produce.

So, if t-shirts, I vote for producing proper quality, which means option 1 (or 3).

[2013-05-29 14:04] raucao opened #23 "Main stage"
We need some kind of elevated stage in the main hall (not much, but higher than ground level), as well as a large screen and proper projector. Also: stand for laptop with video and audio connection to projector and sound system. With these dimensions it's impossible to mcgyver that on the spot, because the cables alone are a problem we have to solve upfront.

[2013-05-29 14:35] moonglum commented on #22
I didn't think about that. You're absolutely right.

[2013-05-29 15:06] raucao commented on #22
Option 4 would be to have a shirt sponsor, of course, but I would only vote for it, if it's done as tastefully as possible. The Advance Hackathon shirts from last year are a good example of how that can be done, though. Maybe we could even get AdCloud to sponsor that again.

[2013-05-29 18:05] thilo commented on #8
Maybe go even further and ask if they like to donate their share of the costs , or make an agreement that they are listet as ticket sponsors. current offer means more than 6% of ticket.

[2013-05-29 18:06] koos commented on #8
I can do that.
On May 29, 2013, at 8:05 PM, Thilo Utke notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp.com - a web based deal tracking and portfolio

[2013-05-29 18:12] thilo commented on #23
Do we have a Soundsystem and Beamer already or do we need to rent that?

[2013-05-29 18:46] raucao commented on #23
There's #3 for that I think.

[2013-05-31 11:14] moonglum commented on #9
So I contacted nocpool:

They answered:

He somehow didn't see the date, I will just write the date again. But is the kit ok for us? I have no idea! Sounds good to me. @skddc @jhilden – do you know that? And do you know how to configure a vWLC?!

[2013-05-31 11:18] raucao commented on #9
I have no idea. Please ask them if it's simple enough for a non-specialist to operate that stuff. Or we have to find someone who knows their network systems well enough. Probably also possible. But at least we have to know so we can factor that in.

[2013-05-31 12:18] moonglum opened #24 "German or English?"
Will the sessions be in German or English? Will it be mixed? Whatever we do, we should inform people beforehand. This is really important.

[2013-05-31 12:18] moonglum commented on #24
I'm currently at a conference in the Ukraine. Website is available in English and everything. But with the exception of five talks (which are all given by people from outside the Ukraine), all talks are in russian or ukrainian. There was no information about this beforehand.
(We we're invited to speak here, so no harm done, but still...)

[2013-05-31 12:36] thegcat commented on #24
As it's Railscamp Germany I'd say preferably German, without closing the door to English talks, but as you said with proper tagging of English talks.

[2013-05-31 12:54] moonglum commented on #24
Not sure... RuPy in Hungary and RailsBerry in Poland are also English-only.
Or is it different for a Camp and a Conference?

[2013-05-31 13:18] klaustopher commented on #24
I'd also vote for German :de:

[2013-05-31 13:54] a2800276 commented on #24
Dann brauchen wir aber auch nicht auf English zu planing, or?

[2013-05-31 13:56] a2800276 commented on #22
T-Shirts are stupid, if we have to much money, we should donate it to charity (or invest it in better food, more beer). If people want T-Shirts we can certainly offer a "premium" ticket that's €10 more expensive and make some TShirts.

[2013-05-31 14:00] a2800276 commented on #15
Is this necessary? I've never been able to watch more than 5 minutes of a recorded conference talk, somehow they're much more compelling IRL. €22/day is just the camera. Unless the setup is REALLY professional, videos are edited aftwards and spliced together with dedicated screen feeds, I don't think this is necessary.

[2013-05-31 14:02] raucao commented on #22
Option 5 would be printing some (for mx half the number of participants) and then just selling them. Lots of confs do that for e.g. hoodies. We could also attach some charity donation to the ones sold on site. Maybe for the Travis Foundation or sth.

[2013-05-31 14:14] raucao commented on #24
We're open to everybody, and especially in the last 2, 3 years a huge wave of international devs arrived in Germany, working here full-time now, but maybe not being proficient enough to understand or speak in German (in our company we have a 1:2 ratio of non-Germans to Germans). I also wanted to invite our Polish friends who weren't able to attend Railsberry. We should be open to everyone, regardl

[2013-05-31 14:14] bitboxer commented on #15
Do your speakers a favor and record the talks. A lot of people watch them. Just look at the view counts of the confreaks videos. And even professional Videos are edited afterwards. And 22€/day is fucking cheap. That equipment costs thousands of euros.

[2013-05-31 14:17] raucao commented on #15
It's a marginal share of the whole budget, so I'd say if somebody wants to be responsible for it, set it up and operate it (_and_ edit it afterwards or find someone to do it), go for it! Let's just not get the equipment without anyone having committed to actually using it.

[2013-05-31 14:51] a2800276 commented on #24
Also, it's supposed to be a barcamp, right? So we should be able to respond spontaneously. If someone wants to do a talk in German and noone wants to hear it / vice versa ...

In general, we can announce that:

[code]

[2013-05-31 14:54] raucao commented on #24
I'll try to rephrase that in a more agreeable way and publish it. ;)

[2013-05-31 14:58] a2800276 commented on #24
... and I was trying so hard to be diplomatic!

[2013-05-31 17:31] raucao opened #25 "DNS, Email, Domain"
We need an email address for sponsors to reach us. I just gave away mine on Twitter, but ideally we have sponsors@railscamp.de.

I already asked Mario Schröder, the one who coorganized the very first RCG with us and is owner of the domain, if he can change the nameservers to something every current team can then administer. We should also route 2013.railscamp.de to the GitHub page for example.

Ho

[2013-06-02 07:07] moonglum commented on #9
I wrote:

[2013-06-03 09:00] zakx commented on #9
Hey,

CCC bought some of the terrific Unifi APs and lends them to CCC events (and those close to that, railscamp may apply). You can find more information about that at https://eventwlan.cccmz.de/, and the upside is, that you don't need to put a company logo anywhere for that.

Downside is of course, that you still need to solve your upstream problem.

[2013-06-03 09:04] zakx commented on #8
It doesn't seem like it would fit your event, but if you're looking into setting something up on your own, at CCC we're using https://github.com/CCCO/c4sh_preorder and https://github.com/CCCO/c4sh as a complete cashdesk solution. We also have some nice hardware we could borrow you, including cash counting appliances.

![open-side](https://f.cloud.github.com/assets/628602/598428/8fffe1ca-cc2c-11e2-

[2013-06-04 11:42] moonglum commented on #9
Here is the answer from the nocpool guys:

@zakx Sounds awesome :smile: We can also try that! You have to enter the name of an ERFA/Chaostreff in the registration form though. Can we use CCCC and add you as our "man from the ERFA"? :wink:

I also [asked Mateus](https://twitter.com/moonbeamlabs/status/341881523240316928) from our user group if he can help us with LTE. He works for Deutsche Telekom

[2013-06-04 12:46] zakx commented on #9
@moonglum Tobi is also a member of C4, maybe that would make more sense if he's on the event anyway? :)

[2013-06-05 15:20] jhilden commented on #25
Vielleicht sonst erstmal noch eine andere alternative Domain registrieren, damit man schon mal was hat?

Die sind noch frei:

[code]

[2013-06-05 15:35] upstream commented on #3
I can bring two wireless microphones from co.up

[2013-06-05 15:54] #2 closed, assigned to raucao

[2013-06-05 16:21] jhilden commented on #7
As you can read in the Titanpad (link above), we decided on the following sponsor packages:
- Individual Sponsor Package:  200€
- Small Company:  500€
- Serious Sponsor:  1000€

Plus some "Sachsponsor" Packages, where we know the concrete amounts.

[2013-06-07 11:52] jhilden commented on #10
here is a pic of the grill they have ![grill](https://dl.dropboxusercontent.com/u/409736/railscamp_venue/2013-06-07%2010.02.34.jpg)

I guess we probably also need another one.

@schorsch could you maybe make a rough calculation of the costs, so we can start talking to sponsors?  Maybe you can also look for somebody to help you.  Any volunteers?

[2013-06-07 12:43] thegcat commented on #10
I might be able to provide another one, roughly the same size, coal-powered. As it would need to be transported from Dortmund, I'd rather count it as a joker if everything else fails.

[2013-06-07 16:56] raucao commented on #25
Mario just sent me an email with the auth code. Transfer is in progress. Will set up email and `2013.railscamp.de`.

[2013-06-08 09:23] raucao commented on #25
Ok, domain is set up: http://2013.railscamp.de (might not work in FF until restart)

Email is accessible at https://webmail.gandi.net (user mail@railscamp.de – ask me directly for the password). Messages should be forwarded to the Google list.

[2013-06-08 09:23] #25 closed, assigned to nobody

[2013-06-08 19:24] raucao opened #26 "Website"
Tracking issue for the website.

I started working on it today and pushed my stuff to a branch. @slogmen wants to help as well from here on.

If anybody wants to have a look, make sure to open it in Chrome for now, and that you have Source Sans Pro installed on your system. Then just check out the branch and run `jekyll serve`.

If you want to make continuous changes, add a `--watch` to that comma

[2013-06-09 10:34] raucao opened #27 "Beer garden"
In order to be able to sit outside at night (esp. for the BBQ), I think we should set up a small beer garden again. So we need tables and benches. We might get them on the cheap from a brewery if we buy enough beer from them.

We can also use the stuff during the day to add seating and tables where necessary, be it the main hall, a small room, the skate hall, or the tent. And just have some outsid

[2013-06-09 14:07] jhilden commented on #27
The venue has ~40 "Biertischgarnituren" that we can rent for a cheap price (they want to sent me detailed prices next week).  So that should not be a problem.   They also have a couple of standing tables and maybe even something tent-like.  But I think we will need to rent a tent anyway.

[2013-06-09 14:08] raucao commented on #26
I added https://github.com/noct/jekyll-sass for now and cleaned up the CSS a bit. Also added a Gemfile, so you can just use Bundler from now on in order to get the plugins etc.

[2013-06-09 14:09] raucao commented on #27
\o/ That solves the whole issue. :)

[2013-06-09 14:10] jhilden commented on #24
Closing this issue:  **default language should be English, but German talks are just as welcome (they should be marked in the schedule)**

I also think that each speaker / session organizer can simply ask for each session if there are any non-German speakers in the room.

[2013-06-09 14:10] #24 closed, assigned to nobody

[2013-06-09 14:12] jhilden commented on #21
Maybe some of our kicker pros want to take care of that?  @stephanpavlovic @tmschndr

[2013-06-09 14:16] jhilden commented on #22
+1 for quality t-shirts with a nice design
+1 for finding a T-Shirt sponsor

@skddc can you give us a rough number what it would cost for 200 t-shirts, so we can ask sponsors about it?

[2013-06-09 14:17] jhilden commented on #15
+1 for what @skddc said

[2013-06-09 14:28] jhilden commented on #5
The venue also wanted to sent me the contact to their regular drink supplier.  Then we can just compare prices.

Also we can use the bar that they have for serving the drinks and they have 4 big fridges + a "Kühlkammer", so all the drinks will be nice and cool and we don't have to rent any extra equipment.

[2013-06-09 14:31] jhilden commented on #23
They have enough stage elements there, so we can build whatever kind of stage we want to.  They also have a technician there who will propably do most of the upfront work.  But he won't be there during the event.

[2013-06-09 14:38] jhilden commented on #3
They probably have all the audio & light equipment there that we need (speakers, mixer, subwoofer, ....).  However, we really need somebody in Cologne that knows a little bit about this stuff and can take care of deciding what we need and how to operate it.  Do you know anybody?

For example these are the mounted speakers they have in the main hall:  ![speaker](https://dl.dropboxusercontent.com/u/

[2013-06-09 14:48] jhilden opened #28 "Projectors (aka "Beamers")"
We need somebody to take care of projector setup.

This is what is available at the venue:
- 1x 2600 lumen projector  (which is reportedly a little weak for the main hall)
- 1x 6x4m screen
- 1x 3x2m screen

For the 4 small conference rooms we can probably just take regular projects that we can hopefully even borrow from local agencies.
- [ ] Main hall -> big rented projector
- [x] Skate hall -> ?

[2013-06-09 14:49] jhilden commented on #3
Created a new ticket for projectors #28

[2013-06-09 17:34] jhilden opened #29 "Room plan"
We have the following rooms in the venue:
- A slighly bigger conference room for 20-30 ppl.
- 2 small rectangular conference rooms for 10-15 ppl.
- 1 small long conference room for 10 ppl
- the sports court in the main hall for the welcome & session planning 200+ ppl
- seating area around the bar (same room as the court, so we can't do extra sessions there, only maybe during basketball/soccer play

[2013-06-09 17:36] raucao commented on #29
Sounds good!

[2013-06-09 17:43] jhilden commented on #29
As any good Railscamp, of course we need codenames for the rooms with a cool theme.  We thought a pirrrate theme could be cool:
- "main deck"
- "quarter deck"
- "galley" / "kombüse"
- "gangway"
- "poop"
- "porthole"
  ...

Looking for more good names ...

[2013-06-09 19:01] raucao commented on #23
Wow, great! This venue is getting better and better. :)

[2013-06-09 19:02] raucao commented on #5
Yay!

We should also have a list where people can volunteer to keep the bar for an hour or so. Like with the reception.

[2013-06-09 19:04] raucao commented on #22
About 1000 bucks I guess. Our last order for my company was 7-color sifter print, which is just crazy. I think that was 1400 for 120 shirts, including everything. But we should ask again. If it's a single color or 2 max, it'll be cheap enough.

[2013-06-09 20:59] svenfuchs opened #30 "Rails Girls apps hackday"
Not sure if this is the right place for posting this.

And I'm also not sure how far the idea of sub-hosting a Rails Girls camp, or just infiltrating the camp with 50% Rails Girls attendees has been discussed. We've certainly had a few excited chats with Sebastian on our office terrace :)

But, basically, **if** Rails Girls students will be invited and actually can attend with a significant number

[2013-06-09 20:59] raucao commented on #8
Since nobody else acted so far, I set up everything we need with Eventbrite and already put the widget on the new (as of yet unpublished) website.

I vote for starting ticket sales next Friday (June 14) at 4pm. If somebody thinks that's a bad time for whatever reason (hopefully out of experience), please speak up! Frankly, I myself have no idea, and I can't remember when we opened the registration

[2013-06-09 21:15] raucao commented on #30
You know I already think it's a great idea, so just to add this for completeness: we'll definitely have plenty of space for hacking! And as soon as we know how many Rails Girls are participating, we can specifically plan for this, both in regards to location and times. So let's do it! :)

[2013-06-09 22:35] thilo commented on #8
Great initiative, but do it on Monday. very few people a receptive to news on Friday afternoon.

cheers

Thilo

On 09.06.2013, at 22:59, Sebastian Kippe notifications@github.com wrote:

[2013-06-10 09:37] tmschndr commented on #17
Can we afford a Van Dyck Barista again, like we had during Rails Girls? http://www.vandyckkaffee.de/espressobike1.html

[2013-06-10 09:41] tmschndr commented on #21
If our table survives #iacologne's hardware hack track we can of course use them during Rails Camp. And _if_ it survives it will be pimped with sensors and stuff also – nrrdy.

[2013-06-10 09:47] jhilden commented on #17
@tmschndr can you get us a price for the barista?  Then we can certainly ask around if we can find a coffee sponsor

[2013-06-10 09:56] raucao commented on #8
Ok, thanks. Let's do it on Monday then. 4pm alright?

[2013-06-10 11:18] tmschndr commented on #17
@tatjanala might help with that. think she handled it last time. I'll ask her to put numbers in here.

[2013-06-10 13:05] tatjanala commented on #17
At the RailsGirls event we paid 480€ for one day, 150-200 cups of coffee included. I don't think it makes a difference if we book the espressobike or just a barista.

[2013-06-15 14:50] raucao opened #33 "Twitter wall(s)"
Would be great if somebody could set up a Twitter wall on the Web somewhere, so we can put it on the screens and maybe switch automatically between the schedule grid and that. We'll use "rcg13" as the official hash tag.

[2013-06-16 08:43] raucao commented on #19
Does anyone know where we can get something like these? http://www.guidedproducts.com/green-eco-friendly-name-badge-holder

[2013-06-16 08:57] raucao commented on #19
https://twitter.com/janl/status/346189439606878208
https://twitter.com/janl/status/346190138646343680

[2013-06-16 19:34] jhilden commented on #11
I created a pad for a rough idea for an schedule for the weekend:  http://titanpad.com/yqE49QM7n6

feedback welcome.

[2013-06-18 12:19] drblinken commented on #30
Hi Sven, just found this post checking out the railsgirlsberlin mailing list to post the app Bjelli and me have been working on - which is designed to do part of what you suggested:

see https://github.com/learnery/learnery
cheers

Béla

[2013-06-18 12:49] jhilden commented on #9
What's the current status for this?  I think we need to start acting soon, especially on getting the internet connection, I think with the wifi we are already on a good track.

ccing @timbuchwaldt, he might be able to help us

[2013-06-18 13:13] seanlilmateus commented on #9
von mir gibt leider nichts Neues, irgendjemand hat mal davon erzählt das ein Kollege von mir die Hotspots besorgen hat. Gibt da en Name?

[2013-06-18 14:11] svenfuchs commented on #30
Nice, looks interesting!

Definitely gonna look into this more!

Thanks :)

On Jun 18, 2013, at 2:19 PM, drblinken notifications@github.com wrote:

[2013-06-19 09:57] jhilden commented on #4
@tatjanala agreed to take care of this and hopefully should have some numbers for us soon

[2013-06-19 10:05] jhilden opened #34 "Uplink internet connection"
We nee somebody to talk to all the companies that could help us in getting a decent internet connection to the Abenteuerhalle.

Options to check would be:
- [ ] NetCologne (they are supposed to have fiber cable until the end of the street)
- [ ] Telekom (maybe they can provide/sponsor LTE connections?)
- [ ] Unity Media
- [ ] Richtfunk from some company or so in the neighborshood with good interne

[2013-06-19 13:56] jhilden commented on #27
We should be able to get 10-15 Liegestühle from AddCloud.  We just shouldn't forget.

[2013-06-19 20:49] p886 commented on #18
I would like to help with that.

[2013-06-20 08:32] moonglum commented on #17
I promised to get information about the baristas at NoSQL Matters, here you are:

[2013-06-20 09:01] timbuchwaldt commented on #9
I have compiled a list of hardware we would need if we want to build this on our own and give it to Ruby e.V. afterwards. Essentially it's just what CCCMZ uses. Without any discounts we speak about 1.5k+ € for APs (3\* 3-pack UniFi Pro), not including the WiFi-controller, router + switches.

If there is the slightest chance of getting this from CCCMZ I would reaaaaally prefer that.

[2013-06-20 10:09] jhilden commented on #18
Very cool.  We are very glad for any help.

These are the task I see from my perspective:
- [ ] talk to people about volunteering to sit at the reception
- [ ] create a schedule
- [ ] create a participants list for receptionists to check off, after tickets are sold
- [ ] make sure we have all the necessary stuff we need

[2013-06-20 11:36] raucao commented on #18
I don't think talking to people about sitting there makes a lot of sense. Just create a list and let people enter their names. Then we can fill it by asking people via Twitter and email.

The schedule should just be full hours, so it's easy to remember. We mainly need to decide how long it should be manned.

The participants list is there on Eventbrite automatically. They have tools for all these

[2013-06-20 14:34] p886 commented on #18
I reckon a Google Spreadsheet [like this](http://bit.ly/13ViiEi) would work ok? Anyone who has the link can pick a date and enter his / her name.

When should the reception be open?

[2013-06-20 15:53] timbuchwaldt commented on #29
Is there a chance to get a (lockable) network room where we can set up the gear?

[2013-06-20 15:54] timbuchwaldt commented on #9
Super gut! Danke @zakx

[2013-06-20 15:56] jhilden commented on #29
Definitely.  I will explicitly look/ask for it the next time I'm at the venue

[2013-06-21 15:07] zakx commented on #9
CCCMZ reserved their UniFis for you. As it is not a CCC event, they're asking for a donation in accordance to your event's budget (which will be used to expand the AP lending offer, so it's a good thing!). You may also need to pay for transport of the flight case from/to Mainz, but maybe we can do something about that (no promises though).

Please let me know if you can agree to that ASAP.

[2013-06-22 14:37] timbuchwaldt commented on #9
From my side, this would be perfect! :)

[2013-06-22 17:24] moonglum commented on #9
Ok, I contacted nocpool to tell them that we don't need their help anymore.

[2013-06-22 17:27] raucao commented on #9
Let's do it!

@timbuchwaldt You're the one operating it in the end? We should assign this issue to the person who knows how that stuff works, so other people can refer to him or her.

[2013-06-22 17:28] moonglum commented on #34
Contacted Stephan again (he didn't answer the email last time) to ask, how they managed to get Telekom LTE for the conference. Will keep you posted.

[2013-06-22 20:33] timbuchwaldt commented on #9
@skddc Yes, I am. And I know how the stuff works :) I will have my vacation a little earlier than camp-start for setting up

@zakx Will we get the cabling and everything from CCCMZ, too?

[2013-06-23 10:07] raucao commented on #9
@timbuchwaldt Ok, cool!

[2013-06-23 13:19] erdnusskeks commented on #17
What about the coffee you served at interactive cologne? Was it also a Van Dyck barista? The Soy Latte was delicious! : )

[2013-06-23 14:39] raucao commented on #17
This issue could use a coffee geek. I hate to say it, but the one at IA was standard overroasted stuff. Totally drinkable, but not the real thing.

[2013-06-23 15:10] Uepsilon commented on #7
As i was surfing the new page, i found it quiet disturbing that sponsor-links open in the same window instead of creating a new one? Is this by purpose? Otherwise I would fix that ;)

[2013-06-23 16:12] raucao commented on #7
That's a _very_ old UX discussion. ;)

I like it that way. If I want to open a new window, I do that myself. I don't like websites forcing browsing behavior on me. That said, others don't. You obviously belong to that group.

I for my part frankly don't even care, though. So, if you think it's better,  just do a PR, and someone will either merge directly or start a discussion on the PR.

[2013-06-23 17:02] Uepsilon commented on #7
fair enough

[2013-06-23 19:56] thegcat commented on #7
IIRC the W3C recommendation is to not open links in new windows/tabs as a general rule, and to somehow mark them/inform the user that a new window will open if he clicks on the link if one wants use extra-window links nonetheless.

[2013-06-23 20:21] raucao commented on #7
This is where the party's at now: #35 ;)

[2013-06-24 07:51] bascht commented on #17
As I took home the coffee hat from last weeks cologne.rb I might chime in here, as well I guess.
I contacted a friend of mine, who works at a cologne coffee roastery and also happens to be a trained barista. So when worse comes to worse we could also arrange to have him over at railscamp to build some fresh brews. ;-)

[2013-06-24 08:12] jhilden commented on #17
@bascht Why only "when worst comes to worst"?  That option sounds good to me. Just get us a price and make it happen.

[2013-06-24 08:24] bascht commented on #17
@jhilden I'll get back to as soon as I have any news. ;)

[2013-06-24 11:15] koos commented on #14
Do you want me to organize it?

[2013-06-24 11:28] koos opened #36 "Warmup Party and Party"
Hi,
what about parties? :)
There are two options in my opinion:
- doing everything in the Abenheuerhallen
- splitting it between Abenteuerhallen and "trash-chic" (a bar across the location ~ 1 min. walk) - http://www.trash-chic.com/pics-und-videos/

(doing a "official" party in the city is not an option in my opinion - people can decide by their own but we should keep everything more or less in on

[2013-06-24 14:05] jhilden commented on #14
Definitely.  Start advertising it as a session/acitivity and see if you can get ciritical mass.

[2013-06-24 14:10] jhilden commented on #36
I vote vor Idea No. 2, because I think it's nice to have the whole event in one place and I think a party at the venue would better suit everybody:  those that want to party and those that just want to hang out or even code.

[2013-06-24 14:32] raucao commented on #36
I voter for option 1, because after setting up the venue for a whole day, I don't want to have a party before the event and then clean everything up before the event. I'd much rather chill out down the street after hours of getting everything ready. Also, it's flexible for the setting up then, because otherwise we'd have a deadline for that, which is also not nice.

[2013-06-24 14:33] raucao commented on #14
\o/

[2013-06-24 14:38] raucao commented on #36
Just saw that Trash Shic wants people to go inside at 10pm. That's a bummer. Maybe we can do something in our beer garden? Just don't see the point in using the main hall on Friday night.

[2013-06-24 14:41] koos commented on #36
I don't know a beer garden nearby. And even if - I think most of them also want's people to go inside. Then I prefer option 2 too and lets open a beer garden by ourselfs behind the main hall.

[2013-06-24 15:00] raucao commented on #36
We have a beer garden set up behind the house. That's what I'm talking about. We can have our own outdoor party without using the hall and with a license until 5am. ;)

[2013-06-24 15:06] koos commented on #36
ok,
so I'll have a look for bands and dj's for the evenings ;)

On Jun 24, 2013, at 5:00 PM, Sebastian Kippe notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dea

[2013-06-24 15:22] raucao commented on #36
Great!

Keep in mind that people at confs and camps usually like to chat all night, so don't book like 10 bands and DJs. ;)

[2013-06-24 15:23] koos commented on #36
1 band (~45 min.)
1 dj (playing continously music)

On Jun 24, 2013, at 5:22 PM, Sebastian Kippe notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp.com

[2013-06-24 15:32] raucao commented on #36
You da man.

[2013-06-24 17:16] raucao commented on #30
We should make some progress on this soon, if we want to reserve tickets...

[2013-06-24 17:21] svenfuchs commented on #30
i just had exactly the same thought :)

what's needed to make progress? is there an announcement, yet?

might be best to just put it on the website, and then start spamming everyone through email/twitter etc?

[2013-06-24 17:39] raucao commented on #30
We do have a blog, where we can put announcements. I'm not entirely sure what the current plan is and what's important to communicate, so it would be good if you or someone involved with planning the track could write it up.

How was the feedback so far? I have no idea how many tickets to reserve. I would have proposed 50 of the 200. Only the first 100 go on sale on Wednesday, so we still have tim

[2013-06-24 19:43] timbuchwaldt commented on #34
Will someone contact one of the providers? I mean... LTE might be okayish - but for that our WiFi system is a overkill :D

[2013-06-25 06:26] jhilden commented on #34
@namxam could you do that? Today? Was @koos able to get you a contact at netcologne?

[2013-06-25 06:35] jhilden commented on #36
We/I should clearify with the venue, that it is really possible to have a
party with live music outside the hall. But I think it should be ok.
On Jun 24, 2013 5:32 PM, "Sebastian Kippe" notifications@github.com wrote:

[2013-06-25 08:01] raucao commented on #36
We don't need live music on Friday, which means we don't need it outside the hall ever.

[2013-06-25 08:16] timbuchwaldt commented on #34
I just remembered: As we use the CCCMZ WiFi system, we can only support **two** uplink routers. So if we go with LTE, we are limited in regards of uplink routers. (Or if we bundle DSL uplinks, which could also work)

[2013-06-25 16:07] Uepsilon commented on #22
I just thought, that if we'd like to have shirts, we should agree on the Design rather quick now (even if they won't be sold along with the tickets anymore).

Shall we print the current Logo on those shirts? Or would it be better to print something else. In my mind i thought of a Rail (with some Rubys on it or so) which leads through a tent (on a clearance, if we can add the details), with the slo

[2013-06-26 08:19] koos commented on #34
If you need it - we've bought 3 of those http://www.amazon.de/gp/product/B00CTIKXR6/ref=oh_details_o03_s00_i00?ie=UTF8&psc=1
Just give me a shout.

On Jun 25, 2013, at 10:16 AM, Tim Buchwaldt notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführ

[2013-06-26 09:00] raucao commented on #34
Nice.

[2013-06-26 11:33] timbuchwaldt commented on #34
@koos Thanks :) We got the big package by CCCMZ, which uses the pro-version of the APs, which are not quite compatible. But if we find the usecase, we will let you know (wrong issue, btw :D )

[2013-06-26 15:59] colszowka commented on #36
Beergarden right at the venue sounds great! One slightly stupid question: Where does the beer (and other drinks) come from? Are they available at/by the venue?

[2013-06-26 19:05] jhilden commented on #36
@colszowka see issue #5. Why do you ask?

[2013-06-26 19:15] jhilden commented on #7
I started to collect the invoicing addresses of our sponsors here: https://docs.google.com/document/d/1QMQMwFKnWUNSbaOLrioxdE0DQTHKr40RMceZbl0Eehg/edit?usp=sharing (request access if you need it)
I guess we could start sending out invoices now, or?

[2013-06-26 20:34] jhilden commented on #28
@timoschilling did you ask your contact if we can get some projectors from them?

[2013-06-26 20:42] jhilden commented on #3
As far as I can remember @railsbros-dirk is probably going to be so kind to help us with this topic.  Let's go and visit the venue together to figure out what we will need.  I think you said something about 9.7., yes?

[2013-06-26 21:35] raucao commented on #36
@colszowka We have fridges inside, yes.

[2013-06-26 21:43] bumi commented on #28
besides the small projectors that we can have from cowoco & co. I'd say we should get some that work in (bright) light. for the nodecamp.eu we've rented one from Projektor AG (Köln-Dellbrück)
one with 4500 ANSI-Lumen + 1024x768px resolution would there be 138€ for two days.

[2013-06-26 21:46] bascht commented on #17
Alright - got feedback from [Die Rösterei](http://www.moxxacaffe.de/die-roesterei-koeln.html), but a the moment they don't have a fixed price model. The could send a bike, but it would be pay-as-you go. So, maybe I am late to the party - but:
- Do we have real numbers for coffee-budget, yet?
- Do we want the fancy latte art / espresso machine stuff or: plain coffee?

At a rate of 480€ / day we cou

[2013-06-26 22:13] raucao commented on #17
We're still looking for a coffee sponsor. Would be easier if we knew how much it costs.

[2013-06-27 09:03] koos commented on #34
okay
On Jun 26, 2013, at 1:33 PM, Tim Buchwaldt notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp.com - a web based deal tracking and portfolio manage

[2013-06-27 10:00] raucao commented on #10
I'd vote for getting proper grass-fed meat or poultry directly from a farm. It's less expensive than it sounds:

http://www.freilandhof.com/produkte-bestellung/
http://www.naturlandhof-buening.de/html/produkt_preisliste.html

Maybe we can get discounts for our large order.

Anybody knows how many vegetarians to expect? Any ideas how to make the BBQ nice for them as well?

[2013-06-27 10:05] tandibar commented on #10
We could also order Burgers from Freddy Schilling (http://www.freddyschilling.de) :-) They give you everything you need to build their Burgers on your own.

[2013-06-27 10:07] tandibar commented on #22
For good Quality T-Shirts I can recommend mcs in Berlin (http://www.multicolorshirt.de/) They have good quality and good prices.

[2013-06-27 10:26] raucao commented on #10
Please always add prices when suggesting these things. Otherwise we cannot vote/decide on it. Can you ask them?

[2013-06-27 11:38] colszowka commented on #36
@jhilden Oh, I was just curious whether the venue has staff who take care of this or if you're rolling your own or everyone needs to bring stuff themselves from a Büdchen :)

[2013-06-27 11:43] jhilden commented on #36
OK :)  No we will order enough drinks for everybody.  But we will certainly need some volunteer help staffing the bar and so on.  Since this seems to be a topic of interest to you, would you want to take on (some) responsibility for this? ;)

[2013-06-27 11:43] raucao commented on #36
We'll have to organize it ourselves. So I think the idea is to put drinks in the fridge inside beforehand and just put out cold crates during the party outside for everybody to grab.

On the second day, we'll need volunteers for tending to the bar inside.

[2013-06-27 12:07] tandibar commented on #10
Just got a price: one Burger (all inclusive) for 8,70 EUR. I think this idea died in this very moment...

[2013-06-27 12:13] raucao commented on #10
Yup. :)

One kg grass-fed organic Schnitzel costs like 10-12 bucks.

[2013-06-27 13:44] colszowka commented on #36
Hehe, sure, I'd help out for an hour :) I'm sure it will be no problem to organize this ad-hoc at the venue on saturday morning

[2013-06-27 14:13] timoschilling commented on #28
I will ask him on Monday

On 26.06.2013, at 23:34, Jakob Hilden notifications@github.com wrote:

[2013-06-29 07:45] moonglum commented on #34
From Stephan Maihöfer:

[2013-06-29 11:39] code-later commented on #3
Yeah, I will try as good as I can to help with this stuff. 9.7. sounds good to me. Can we drop in anytime we want or do we need an appointment. I would prefer if could go after 15:00. Would this be possible?

[2013-06-29 11:51] code-later commented on #21
As I already suggested we should consider renting two tables for the weekend. I contacted adcloud regarding this issue because they always rent a foosball table for events. I also searched the web (very briefly) to get a feeling what this would cost us. I came up with something between 200 and 400 Euros for two tables on two days. This doesn't include delivery. And a deposit would be needed too.

[2013-06-29 11:57] code-later commented on #15
I agree with @skddc and I think your totally underestimating the amount of work for this to be done, @bitboxer. If someone really feels like doing this and has the required time and experience, yes this would be pretty awesome!

[2013-06-29 11:58] raucao commented on #21
I guess so. We'll have more sponsorship than we thought, so I'm fairly sure there's some money left for this. Let's wait until we know that for sure, though.

[2013-06-29 12:00] code-later commented on #21
Agreed, I will just make some contacts to get the final prices. As soon as I know them I let you know. I guess/hope we can rent those stuff on very short notice.

[2013-06-29 12:20] bitboxer commented on #15
No, I don't underestimate it. It is LOT of work. BUT it would be worth it. Sadly I can't do it, because I moved to Berlin last week and need to get some stuff done here :sob:

[2013-06-29 12:26] code-later commented on #15
I didn't say it would not be worth it, I just wanted to stress the workload again to prevent, that someone wants to do it just to realize in the end that it is just too much work. And that would be very sad.

[2013-06-29 12:30] code-later commented on #15
I have another proposal which has something to do with this issue:

My wife is a freelancing journalist and would like to make some kind of short movie about the camp. It is very likely it will get sold, but who knows. The result would mainly be some demo for her and I think it would be a great summary of the event. It would include impressions from all parts of the camp and of course some intervi

[2013-06-29 12:31] raucao commented on #15
Sounds fantastic to me!

[2013-06-29 12:38] code-later opened #37 "Geekstammtisch @Railscamp"
As you already know the Geekstammtisch Podcast is one of the small sponsors. Independently from this we would like to record two special episodes directly at the camp. They should contain short interviews from different attendees at the camp talking about their experience and what they learned.

@skddc suggested even a live recording session, which sounds great. Additionally we could host a sessio

[2013-06-29 14:45] jhilden commented on #15
Super fantastic!

On Sat, Jun 29, 2013 at 2:31 PM, Sebastian Kippe
notifications@github.comwrote:

[2013-06-29 14:49] jhilden commented on #37
Absolutely interested.

[2013-06-29 17:09] koos commented on #34
ich habe noch einen guten kontakt zur telekom.
kann ich helfen?

On Jun 29, 2013, at 9:45 AM, Lucas Dohmen notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealb

[2013-06-30 10:07] moonglum commented on #15
Yes of course!

[2013-06-30 10:07] moonglum commented on #34
Wer hatte denn jetzt den Internet-Hut, der @timbuchwaldt ? :smile:

[2013-06-30 11:20] jhilden commented on #34
Nobody in particular wanted to put on the the "internet hat" and I can't blame people for that.

This is currently probably the most difficult and **most important** organizational task that we have for Railscamp, we need all the help we can get from anybody.  I will personally see that anybody who can help us get a somwhat decent internet connection to the Abenteuerhalle, will get all the recogni

[2013-06-30 21:26] raucao opened #38 "Quiz game"
How about doing a quiz game on stage on Saturday night after dinner? I'd be willing to moderate.

As we have the creators of Nerdpursuit among us, we could use that and create a simple game out of it. Or we could use something like https://jeopardylabs.com and do a Jeopardy-style game.

It'd be quite simple to set up. The main thing to organize upfront is probably building (or finding) the buzzer

[2013-07-01 07:48] a2800276 commented on #38
We could even have a little hardware session for railscamp participants to build the hardware themselves...

I was actually planning to do an angular frontend / go backend workshop with @schorsch we could expand this to include a small hardware hack, I'll ask @mattikra if he has time. "Build a nerdpursuit jeopardy..."

[2013-07-01 08:33] timbuchwaldt commented on #37
+1

[2013-07-01 10:14] raucao commented on #38
Sounds great! And with some preparation it should be easy enough to build in an hour or two, right?

[2013-07-01 10:37] a2800276 commented on #38
I thought it would be nice to build the whole thing (Frontend, Backend, Hardware all without Rails!) as one Session of the camp. Should be doable in a day with minimal preparation...

Matthias is up for it as well. He would do the Hardware part, Schorsch would lead the angular frontend and me the go backend ...

We'd get a small budget for parts, right? :) Our current guestimate is ~€150, mainly b

[2013-07-01 10:46] code-later commented on #21
I just got some very good news regarding the foosball tables:
- Each table would cost us 90 Euros for three days. They would be delivered on Friday and picked up on Monday
- We need to pay 50 Euros for delivery and pickup each

Overall this would be 280 Euros for two tables. It is possible to book this 1 week before the event starts.

The price is without tax.

[2013-07-01 11:19] raucao commented on #21
\o/ Perfect!

[2013-07-01 14:50] tatjanala commented on #4
Hey everybody! I think at the last RailsCamp we had Wraps from KAILUA, I don't know if they still exist, but I can check it out. If we agree on sandwiches and stuff cafecafe could be a good choice too. They offer plates with panini, bagels or sandwiches as well as different salads and cakes/muffins etc.
One plate with 24 bagels costs round about 65€ (sandwiches are cheaper). What do you say?

[2013-07-01 14:51] tatjanala commented on #4
Habibi could be a option for lunch on Sunday as well?!

[2013-07-01 14:53] tatjanala commented on #4
I`ll ask cafecafe for an offer. 200 people two days, right?

[2013-07-01 15:09] raucao commented on #4
Yup.

[2013-07-02 06:36] raucao commented on #30
@svenfuchs Any news on this? We should send out invitations asap. Only 4 weeks to go...

[2013-07-02 10:54] svenfuchs commented on #30
sorry, i haven't been able to put time into this. i've talked to some of the ruby monsters yesterday and some are planning to come. also, liane contacted me for a skype call today.

[2013-07-02 13:00] DonSchado commented on #3
how much budget for the dj?
On which days?
How many hours?
What kind of music genre? ;)

[2013-07-02 14:45] moonglum commented on #37
:+1:

[2013-07-02 15:28] DonSchado commented on #13
150 Chairs at the location, do we need more?

[2013-07-02 15:36] DonSchado commented on #19
"The Railsgirls" want to order cool lanyards. (via @lliane)

[2013-07-02 15:36] DonSchado commented on #22
will investigate with @lliane

[2013-07-03 06:29] jhilden commented on #3
Let's talk about DJ in issue #36

[2013-07-03 06:39] jhilden commented on #36
Marco asked some questions in #3

Don't know.  I think the better approach is to get some prices and to take the best offer.

I think it would be great to have "some sort of DJ" on both days, but to have the bigger party on Saturday, as everybody will be there then.

No clue.

Definitely good music! ;)

A friend of mine who is a DJ would be interested to play.  He's playing something like big beat

[2013-07-03 07:17] jhilden commented on #34
Status update:
- We contacted @koos's contacts at the Telekom startup incubator, but since we are a developer event they didn't feel responsible.
- I contacted NetCologne (who owns the Anschluss at the venue) and the key account manager of the Jugendenzentren Köln _Herr Wölk_ is supposed to get back to me about possible ways of beefing up the existing Kupferleitung.  But even if this should all be

[2013-07-03 07:45] jhilden opened #39 "Participant survey"
To activate participants and to ask them some questions that are important for the event organisation, we want to send out a survey with some questions sometime before the event.

Here are some of the questions:
- Where are you planning to stay during the Railscamp?  a) bring my sleeping bag/pad and sleep at the venue  b) I have accommodation somewhere else  c) Not sure yet
- Are you planning to p

[2013-07-03 08:22] tatjanala commented on #4
Heyhey, here is the first offer (cafe cafe)

Vorschlag 1 (beispielsweise für Sonntag):
100 Bagels, halbiert (also 200 Hälften), pauschal 293,70 €
100 Ciabattine, halbiert (also 200 Hälften), pauschal 308,00 €
100 Sandwiches, geviertelt (also 400 Viertel), pauschal 360,00 €
Summe: 961,709 €

Vorschlag 2 (beispielsweise für Samstag):
200 Salate, halbe Portionen 560,00 €
50 Bagels, halbiert, pauschal

[2013-07-03 08:51] jhilden commented on #28
@timoschilling any news?

I just did a quick Google search and came up with this http://www.projektorvermietung.com/preisliste.html they have a 5500 Lumen projector for something like 90€.

[2013-07-03 09:05] timoschilling commented on #28
@jhilden @bumi news, but no good one, no projector available

[2013-07-03 09:46] raucao commented on #13
Maybe 50 more, if it's not too much hassle.

[2013-07-03 09:49] raucao commented on #19
@lliane Cardboard with cotton ribbons?

In any case: we need a design where people can write down their names and Twitter handles themselves. Also: both sides printed.

[2013-07-03 09:49] raucao commented on #22
\o/

[2013-07-03 09:53] raucao commented on #36
I'm not sure why we need a professional DJ. It's not like we're doing a dance party or something. If people feel like it, they can take over the sound system, and if not, then we'll just play Internet radio or Spotify or something, like during the day. I can also create a nice playlist for the night, and I know we have a few DJs among the participants as well.

[2013-07-03 10:05] raucao commented on #39
Good idea!

No need to tell us about sessions, when we have the session planning tool anyway. Let's not collect data in various places. Also, the "could you imagine helping out" can be communicated when we announce the session planner or in a separate call for setup/teardown volunteers.

Let's keep it as short as possible so that many people participate.

[2013-07-03 10:27] DonSchado commented on #22
to be honest, I would love to see/accomplish a very minimalistic design.
Also I dont't care about "tour dates", what about you? ;)
below a short sketch what I think:

Front Version 1
![front_0](https://f.cloud.github.com/assets/685742/742458/cbb34ff8-e3ca-11e2-9105-aca14a520c58.png)

Front Version 2
![front_1](https://f.cloud.github.com/assets/685742/742459/cbd0c16e-e3ca-11e2-936b-3618dba96a60.png

[2013-07-03 10:32] lliane commented on #22
<3 Version 1

[2013-07-03 10:45] raucao commented on #22
Maybe we can put RailsCamp Germany on the sleeve, like on the EuRuKo Berlin shirts?

[2013-07-03 10:49] DonSchado commented on #22
left/right side?
![sleeve](https://f.cloud.github.com/assets/685742/742574/2e3fa574-e3ce-11e2-87aa-93ed7152b6dc.png)

[2013-07-03 11:05] Uepsilon commented on #22
I'm not to fond of the Logo. I'd like a minimalistic design too, but the logo does not suit my expectations. But I guess this is settle and cannot be changed right? :D

Furthermore I favor V-Necks over regular Tees, but I might be the only one. Is there any possibility to get the Shirts in both Ways or will that increase costs drastically?

[2013-07-03 12:05] moonglum commented on #22
Voting for V1 :+1:

[2013-07-03 12:47] raucao commented on #22
Nothing is settled until they go into print. ;)

There's a design with the original Railscamp logo and the Kölner Dom somewhere. Can't remember exactly.

I think the type on the sleeve would look much better if it were way smaller and used Source Sans Pro, like the website.

[2013-07-03 12:47] raucao commented on #22
Oops, hit the wrong button. :/

[2013-07-03 12:57] moonglum commented on #4
Sounds delicious :wink: I have no idea if this is enough / too much at all, but the prices seem to be ok IMHO.

[2013-07-03 12:59] jhilden commented on #22
Here is the design by @slogmen that @skddc was talkin about:

![railscamp_koeln](https://f.cloud.github.com/assets/69657/743107/520b7df4-e3e0-11e2-8496-b92c170af4ab.png)

[2013-07-03 13:25] Uepsilon commented on #22
I like that one way more than the other ;) I'd really like to see that on a shirt.

[2013-07-03 13:33] Uepsilon commented on #39
I like the Idea of that, but I guess with the Discussion about Prism n Stuff in mind, Google may not be the best Host for Data (even when it's not directly linked to any personal data). Where do we host the RailsCamp-Page? Can't we host it there?

I guess there are several tools for Surveys, here's just one I found recently:
[Lime Survey](http://www.limesurvey.org/) | [Demo](http://www.limesurvey.

[2013-07-03 13:40] raucao commented on #39
The RailsCamp page is hosted as the gh-pages branch of this repo.

If you want to set up a survey tool, go ahead (and let everyone know). We don't need full names in the Google form, though, so I think it's ok for this.

[2013-07-03 13:43] DonSchado commented on #22
I like both logos. :)
but I think logo 1 is "brighter" on a black shirt... (which was the favorited color by @moonglum ;))

anyhow, Version 2 transparant
![front_2](https://f.cloud.github.com/assets/685742/743341/bd5c638e-e3e5-11e2-95a2-a03c349bb1c3.png)

Version 2 white
![front_3](https://f.cloud.github.com/assets/685742/743342/bdb1e188-e3e5-11e2-925e-4ca94a60f0fc.png)

any chance to get the raw

[2013-07-03 13:43] raucao commented on #4
Should probably be a bit more, because it's basically both breakfast and lunch. And how about some low-carb option? ;)

[2013-07-03 13:46] raucao commented on #22
Why not use a grey or beige shirt for this one?

[2013-07-03 13:52] DonSchado commented on #22
hmmm....

![gray1](https://f.cloud.github.com/assets/685742/743424/a6e9b7da-e3e7-11e2-986a-ef0100cb1c9e.png)
![gray2](https://f.cloud.github.com/assets/685742/743426/a72388fc-e3e7-11e2-8ecf-6b3f00482273.png)
![sand1](https://f.cloud.github.com/assets/685742/743425/a709a0e0-e3e7-11e2-943c-dd6ebd8024d2.png)
![sand2](https://f.cloud.github.com/assets/685742/743427/a729f020-e3e7-11e2-9da3-558f1038b5b5

[2013-07-03 13:55] endverbraucher commented on #22
Looks great! Raw SVG/EPS available here: https://www.dropbox.com/s/erabkbguwvohiio/railscamp_shirt.zip

[2013-07-03 14:04] raucao commented on #22
That's dark grey and okker. ;)

Hint: if you're just using Spreadshirt colors, you won't find good ones anyway. Another nice one would be whatever it was the Advance Hackathon shirts are made of (very dark grey, almost black even, with some organic pattern). Everybody just loves the color, material and cut, aside from the cool graphics. @lliane You know what these are, right?

[2013-07-03 14:16] lliane commented on #22
Yes. It was American Apparel, grau meliert! But they were quite expensive (about 35 Euros each). http://www.spreadshirt.de/maenner-slim-fit-t-shirt-C7196G1P24T84 > Männer T-Shirt Tri-Blend von American Apparel
(Find it via the slider)

[2013-07-03 14:27] Uepsilon commented on #22
Spreadshirt is quite expensive (not to mention delivery costs and duration) and the quality is quite poor. I guess they use the page only for the Preview.

I guess the Logo must be emphasized on a dark background (or on a blue one), maybe place it in a shaded area which may be ruby-shaped (or shaped like the railscamp ger logo?)

[2013-07-03 14:31] lliane commented on #22
Spreadshirt was just where we ordered the Advance Hackathon T-Shirts! The quality was perfect.

[2013-07-03 14:33] Uepsilon commented on #22
okay, maybe it depends on which type you choose. I've ordered there twice, both times different types (dunno which ones) and the white ones where nearly see-through and the black one where washed out after 2 or 3 times. Not expecting much. But maybe it was just my luck ;)

Nonetheless, I'd rather sink my money for a shirt from a local printshop than for one from another country.

[2013-07-03 14:37] Uepsilon commented on #39
I'll try and get Lime Survey running on Heroku / Uberspace. I'll then share the login-Data with @jhilden (i know his email :D) so you can setup the service to your benefits.

[2013-07-03 16:25] raucao commented on #22
"American Apparel, grau meliert" is all we need to know. If we print properly, we'll have to provide the shirts anyway, or let the printer order for us from a catalog. No need to use Spreadshirt just to get those exact shirts.

[2013-07-03 17:48] moonglum commented on #22
@DonSchado This moonglum guy has an awesome taste. Really like Version 2 white.

[2013-07-04 08:58] Uepsilon commented on #39
Okay, it's running and I created an account for @jhilden (you should receive an email). But I must admit, you can setup a shitload of settings. nice!

[2013-07-04 11:14] jhilden commented on #34
I got answer from NetCologne and they said that we definitely won't get more than 4 Mbit bandwith out of the connection at the venue.  Theoretically one could do something with SDSL to get 20 Mbit, but the price for that would go into the thousands, and 20 Mbit isn't that much either for 200 people.  :cry:

[2013-07-04 11:24] galfert commented on #33
If nobody else already has a favorite Twitter wall that we should use I could have a look to see what's available. I think something that also shows photos, for example from Flickr, would be nice.

[2013-07-04 12:13] moonglum commented on #34
Oh shit :crying_cat_face:
I guess the only option is LTE then, isn't it?

[2013-07-04 12:23] koos commented on #34
I already ordered 3 seperate telephone lines.
jfyi
On Jul 4, 2013, at 2:13 PM, Lucas Dohmen notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp.com - a

[2013-07-04 13:26] timbuchwaldt commented on #34
Please keep in mind: we need a special router then that bundles the uplink.

[2013-07-04 13:56] tatjanala commented on #4
We thought about having fruits as low-carb option to all the sandwiches ;) And Denise suggested "Trifles" (Man braucht nur Becher und Löffel für drei Schichten knuspriges, cremiges und fruchtiges. Zum Beispiel zerbröselte Kekse oder Müsli plus Pudding und/oder Joghurt plus Obst - alles im Becher über einander schichten und genießen! Passt morgens, mittags, abends und zwischendurch!) I don't know i

[2013-07-04 14:06] thegcat commented on #4
Fruits are only partially low-carb (depending on their fructose contents), see also http://lowcarbdiets.about.com/od/whattoeat/a/whatfruit.htm (for example, google yields some other lists too) (yeah, the page is a pita to look at :-( )

[2013-07-04 14:08] DonSchado commented on #22
After some investigation with Liane, maybe "American Apparel, grau meliert" is actually wrong. ;) The color from the Advanced Hackathon is darker and maybe it's "schwarz meliert". A Coworker says the right name is "american apparel tri black". :)

![shirt-color](https://f.cloud.github.com/assets/685742/749575/e1f38842-e4af-11e2-82f3-a69057f3bd1a.png)

But, more important is the logo.
What about so

[2013-07-04 14:11] tatjanala commented on #4
Do you guys have some other suggestions for low-carb snacks? I don't know much about low-carb food...

[2013-07-04 15:20] galfert commented on #10
I can come up with some options for the vegetarians. I'm not a big fan of the typical "Fleischersatzprodukte", so I would rather prepare some stuff with vegetables, cheese and so on. Does the location have a kitchen that we can use?

Would be good to know the broad number of vegetarians and if we also need some vegan options. But I think that's already a question in the survey.

[2013-07-04 15:29] jhilden commented on #10
Yes there is a kitchen at the venue.  Anything in particular you need?  Then I could check if it's there, the next time I'm at the venue.

[2013-07-04 15:31] jhilden commented on #10
btw:  We really need some (at least rough) calculations for the BBQ, so we can plan the budget for the event.  Would be great if somebody could produce some numbers.

[2013-07-04 15:41] raucao commented on #22
I liked the one with just the blue lines actually. Also cheaper to print with sifters if it's only one color.

[2013-07-04 15:43] raucao commented on #10
Well, we just need to know how much meat to get and what else we provide. The numbers for meat can be derived from the links I posted e.g., although I'm sure we can get a discount for ordering so much at once.

[2013-07-04 16:14] galfert commented on #10
I don't need anything special. Just a proper knife and maybe 1-2 larger bowls.

[2013-07-04 16:49] Uepsilon commented on #22
@skddc I think the one with plain blue lines is kinda hard to read, but maybe that's just the preview.

I like the one with the white filling and the diamond-shaped background. But i'm not quite sure about the background color (i've played a little bit with different colors but it does not look right).. even if i wouldn't take a light blue but a light gray or so instead.

The round background remi

[2013-07-05 10:10] moonglum commented on #11
I now have access to the eurucamp activity app (we're allowed to use it :cat:) , it's great and IMHO be usable for both activity and session planning (I don't think we should even distinguish between activities and sessions). I hope to get some time soon to look into that in more detail.

[2013-07-05 10:10] moonglum commented on #12
See #11 – IMHO, those tickets should be combined. I suggest to close this ticket.

[2013-07-05 10:14] jhilden commented on #11
Very cool.  Maybe you can show me tomorrow at the SIGINT?

On Fri, Jul 5, 2013 at 12:10 PM, Lucas Dohmen notifications@github.comwrote:

[2013-07-05 10:33] raucao commented on #11
We didn't plan to. Let's all meet at SigInt and have a look! :)

[2013-07-05 11:14] markmcconachie commented on #37
+1

[2013-07-05 11:21] moonglum commented on #11
Agreed :rocket:

[2013-07-05 21:39] thilo commented on #9
If you still need to shoot internet from somewhere we can still provide http://www.ubnt.com/airmax#nanobridgem or something similar from Berlin.

[2013-07-05 21:40] thilo commented on #7
Put it on my todo list, will start sending invoices soon.

[2013-07-05 21:44] thilo commented on #8
how is ticket sale going so far?

[2013-07-05 21:51] jhilden commented on #8
The first 100 tickets are almost gone.  But we could really use another marketing push by everybody if we want to reach 200 participants.

[2013-07-06 10:05] raucao commented on #8
I think we should write another invitation and send it out directly to user groups etc. We also didn't email the people registered on railscamp.de yet.

[2013-07-06 12:30] timbuchwaldt commented on #9
Thanks @thilo  - We will come back to you if situation is clearer. Currently we hope to get a bunch of DSL lines in the building which could be bundled.

[2013-07-06 13:09] raucao commented on #34
@koos What does that mean exactly? That we don't need to get something else? We need to know details asap, if we have to bundle lines etc.

[2013-07-07 20:27] erdnusskeks commented on #19
![namensschilder](https://f.cloud.github.com/assets/4786471/758572/f6757a0a-e73e-11e2-87c0-4ca866fb9103.JPG)
Have a look at these drafts. They are made of (packaging) paper, cardboard and tape. You can print out the names (plus twitter name and maybe the rails camp logo) and stick the printouts on cardboard or just fold them two times (A4 => A6 = perfect size!). It's also possible to write the nam

[2013-07-07 20:39] jhilden commented on #19
Thanks @erdnusskeks. I think the red and white tape will look really nice together with the Railscamp logo.  I would vote for number 4.

[2013-07-07 22:29] koos commented on #34
We should have a backup. I'll call Netcologne tomorrow and ask about the progress.

On Jul 6, 2013, at 3:09 PM, Sebastian Kippe notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of b

[2013-07-08 05:14] jhilden commented on #34
I have called viprinet on Friday (they sponsor the evoke and organize the
internet for that event) and maybe they will be able to help us.

I also contacted Vodafone about LTE and they are supposed to call me back
by tomorrow.

Also contacted the Telekom Hotline and they told me to got to a T-Punkt
store and ask there, maybe something could be possible with LTE Testkarten.
 Would anybody be able t

[2013-07-08 14:20] bascht commented on #17
So, any news on the "coffee sponsor" front? Otherwise this turns out to be a chicken-and-egg problem.

@jhilden I could probably arrange to have a friend come over - so this would be more like a personal favour - nothing I could get a quote or a proper invoice for.

[2013-07-08 16:09] raucao commented on #17
It's not really chicken-and-egg. We should be able to get a quote, and then we have something concrete to plan with in terms of budget. Maybe we don't need a separate sponsor, if we have room in the overall budget for example.

[2013-07-08 16:24] raucao commented on #19
Nice work!

I'm not sure I understand exactly how these were made, but I like 1 and 4 best. Where would we print the logo and event name, though? Would that look good in combination with the big red stripes?

[2013-07-09 15:27] raucao commented on #22
Here's a vector version of the flame: http://dl.5apps.com/stuff/flame.ai

[2013-07-09 15:33] jhilden commented on #34
I got an reply from Vodafone and it seems unlikely that we will be able to get something from them, because they don't offer rented short-term LTE as a product, but they forwarded our request from their sales to the marketing department.

[2013-07-09 15:44] jhilden commented on #33
@galfert would be cool if you could look for something

[2013-07-09 15:46] raucao commented on #30
Is anyone still planning to write something up or help us in any way to get out some official announcement and probably a separate track in the schedule?

[2013-07-09 15:47] jhilden commented on #26
I will close this issue.  We can make new ones for small upcoming changes to the website

[2013-07-09 15:47] #26 closed, assigned to nobody

[2013-07-09 16:04] #12 closed, assigned to nobody

[2013-07-09 16:14] jhilden commented on #4
@tatjanala your suggestions sound very good.  we should just switch the days, because people might leave a little earlier on Sunday, so we won't need as much food there.

What else do you need to finalize this?

[2013-07-09 16:40] bascht commented on #17
Good news from my side: I finally got a fixed price quote from »Die Rösterei« – They could send a small coffee "truck" and would charge us 500 € / day - which would include a coffee flatrate for the day. If we manage to drink more than they calculated they'd be ok to "sponsor" the remainder.

##### Goodie:
- From what they told me, the car has a built in Crêpe unit - they wont be included in the p

[2013-07-09 18:07] moonglum commented on #17
Sounds awesome!! :dancer: I hope we have enough space :pray:

[2013-07-10 09:44] svenfuchs commented on #30
talked to tatjana, she's on it!

[2013-07-10 10:52] cice commented on #3
hey guys, i'm attending the railscamp and have been following the discussions around here. i'd like to contribute. i have a 600W PA system, which i could bring along, if you have use for it (eg. get some music into a small-to-midsized hall). my mixer is broken though, so it would be just amplifier and 2 speakers, and maybe a wireless microphone. cheers! Marian

[2013-07-10 11:19] thilo commented on #7
Hey can i get the emails please of sponsors so that i can sent them their invoices?

[2013-07-10 13:13] DonSchado commented on #22
Sooo erste Antwort von X-Print (aus Köln), die haben gesagt, das bekommen die zeitlich hin.

"pro Druck müssen Sie bei weißen Shirts und einer Auflage von 160 Stk. mit folgenden Preisen rechnen:
1,37 € / pro einfarbigen Druck
1,64 € / pro einfarbigen Druck wenn auf Ärmel gedruckt werden soll."

Für American Apparel, Tri-Blend Black, schickt er mir morgen das Angebot.
Wenn man mal mit 20€ kalkulier

[2013-07-10 13:41] tatjanala commented on #4
We are waiting for an other offer, but we`ll decide and order on Friday!

[2013-07-10 14:40] bascht commented on #17
So - @jhilden, @skddc  – who will ask the sponsors?

[2013-07-10 16:01] raucao commented on #3
That would be splendid for the hack tent and beer garden outside I think!

[2013-07-10 16:04] raucao commented on #22
Das sind glaub ich zuviele. Lass dir mal vorsichtshalber ne Hausnummer für die Hälfte davon geben würd ich sagen.

[2013-07-10 16:05] raucao commented on #22
Wenn das Siebdruck ist, dann ist es deutlich teurer 2 verschiedene Motive zu machen. Eins reicht auch finde ich. Wir sind ja kein Klamottenladen.

[2013-07-10 16:14] raucao commented on #17
I'll write another blog post for new sponsors and then we should send emails directly to more prospects.

[2013-07-10 17:11] DonSchado commented on #34
Ich war gerade bei dem 4010 Telekom Laden auf der Ehrenstraße.
Der Typ meinte grundsätzlich müsste das auch in 2 Wochen realisierbar sein, da Internet hinzubekommen.
Sponsoring fand er interessant und klärt das mit dem Vertrieb ab.
Hab ihm alle Eckdaten und meine Kontaktdaten da gelassen, die wollen sich (angeblich) morgen bei mir melden.

Wir werden sehen...

[2013-07-10 17:30] jhilden commented on #22
Thanks a lot for getting those prices for us. Really great.

This was siebdruck, yes?
I agree that asking for a qoute for 80 pcs won't hurt and i would also say
one design is enough. I like both.
On Jul 10, 2013 3:14 PM, "Marco" notifications@github.com wrote:

[2013-07-10 17:48] moonglum commented on #22
One design is enough, I totally agree :wink:

[2013-07-10 19:03] DonSchado commented on #22
"Hallo Herr Schaden,
das T-shirt kostet blanko 11 Euro netto zzgl. Mwst. Wir müssten uns jedoch beeilen, da die Shirts direkt aus LA versendet werden und der Versand ca. 5-7 Tage dauert.
Gruß Nino Boender"

[2013-07-10 20:18] Uepsilon commented on #22
Gibts keinen Laden in Deutschland oder wenigstens Europa wo man die Shirts kaufen könnte? Muss man die aus LA bestellen? Ich persönlich find es auch schöner ein Design zu machen. Ich, als Kölner, bin natürlich für den Dom ;)

[2013-07-11 06:11] jhilden commented on #22
Ich würde sagen wir schicken heute abend oder spätestens morgen den Survey
raus, warten dann bis Montag auf Antworten, und bestellen dann mit ein
bisschen Polster irgendwie so 60-120 T-Shirts (je nach Interessenslage).
 Für die Nachzügler muss man dann nochmal guckn, notfalls besorgen wir
kurzfristig lokal noch T-Shirts.  Ich gehe mal davon aus, dass der Druck in
der letzen Woche vor dem Camp stat

[2013-07-11 07:50] DonSchado commented on #22
So wird's bestellt, wenn bestellt wird.
Restliche Einzelheiten versuche ich mit der Druckerei heute noch zu klären.
Lasse mir jetzt ein Angebot für 100stk machen.

![railscamp-shirt](https://f.cloud.github.com/assets/685742/780270/260e1e54-e9fe-11e2-82ac-de0892769873.jpg)

[2013-07-11 08:47] moonglum commented on #22
@DonSchado Finde ich super. Will ich haben.

[2013-07-11 08:51] Uepsilon commented on #22
@moonglum Dito ;)

[2013-07-11 08:53] Uepsilon commented on #39
Any news? What about a Subdomain? Or do you plan to integrate it via iframe into the RailsCamp-Page?

[2013-07-11 08:58] jhilden commented on #39
I played around a little bit with it last week and even thought it's a
little more complicated that I would like (e.g. need different language
translations for the questsions), I think it will work.  We will send out
the Email with the survey link to all the ticket buyers.  So, no website
integration or subdomain.  Planning to do this today/tomorrow.

On Thu, Jul 11, 2013 at 10:53 AM, Uepsilon not

[2013-07-11 09:16] DonSchado commented on #22
Hier die neuen Preise für 100 Shirts:
- T-Shirt 11 Euro netto zzgl. Mwst (13,09 € brutto)
- Logo zweifarbig auf dunkle Textilien 3,81 € brutto inkl. MwSt.
- Ärmeldruck Schriftzug kostet 2,80 Euro inkl. MwSt.

Wäre ein Gesamtpreis von 19,70€, oder glatt 20€.
Nur Logo fände ich auch ok, dann könnten wir das Shirt für 17€ anbieten.

[2013-07-11 09:25] raucao commented on #22
Nur Logo fänd ich auch gut bei diesem Motiv. Super!

[2013-07-11 09:25] raucao commented on #34
You da man!

[2013-07-11 09:26] DonSchado commented on #39
If you need some help today, let me now! Think we should get this out asap.

[2013-07-11 09:28] Uepsilon commented on #39
@jhilden you are talking about the survey i send you or one you created with google forms?
With LimeSurvey you can narrow down the languages to german / english only, but i thought it would be better to have at least these 2 options. Anything i can help you with?

[2013-07-11 09:28] tandibar commented on #22
Mir kommen die 11 EUR po Shirt recht teuer vor. Wenn das zeitlich noch möglich ist würde ich vorschlagen, dass wir noch ein Angebot von MCS einholen ((http://www.multicolorshirt.de/). Habe sehr gute Erfahrungen mit denen gemacht und die sollten das Angebot preislich unterbieten können.

[2013-07-11 09:38] jhilden commented on #22
@thyphoon wenn du uns bis morgen ein konkretes Angebot von den besorgen kannst was besser ist und auch zeitlich noch funktioniert, dann können wir auf jeden Fall drüber reden.   Ansonsten finde ich es gut nen lokalen Anbieter zu haben, weil es ja evtl. wirklich zeitlich knapp werden könnte.

[2013-07-11 09:43] jhilden commented on #39
It would be much better/easier to have only one language (same as on the website).

Maybe you could help by creating an LimeSurvey account for @DonSchado (marco@railslove.com) so he can also help with the Survey.  If we have the survey more or less ready maybe we can post a link to a little pilot test of the survey here to get feedback from others on the questions & answers (it's just important th

[2013-07-11 09:44] raucao commented on #22
Der Druck ist ok. Der Gesamtpreis kommt zum großen Teil, wie man ja auch sieht, aus den hochwertigen Shirts. Billigshirts kosten so 1-3 Euro, aber diese haben einfach tolles Material und Schnitt. Je höher die Auflage, desto günstiger wird der Druck dann. Siebe und Datei vorbereiten ist nämlich Grundinvestition, egal wie viele Shirts man druckt.

[2013-07-11 10:26] tatjanala commented on #30
Hey, I wrote a little text to put on the RailsCamp website (blog?) and on facebook etc. Can you guys check it out and if necessary add stuff...

What do you think?

RailsGirls at RailsCamp

RailsGirls will be part of RailsCamp Germany on July 27/28. We think this will be an amazing opportunity to meet RailsGirls students & coaches from all over Europe!

RailsCamp Germany (http://2013.railscamp.de)

[2013-07-11 10:32] Uepsilon commented on #39
I just created a new SuperAdmin with his email.

[2013-07-11 10:40] jhilden commented on #30
Little change suggestion:  "Even though this event is called "RailsCamp Germany" everyone **from everywhere** is invited"

Besides that, really awesome.  Let's create a post on the RailsCamp Website from this text.

[2013-07-11 10:44] raucao commented on #30
I'm in the process of writing and publishing the next few posts. First one today. I'll handle it.

[2013-07-11 10:53] svenfuchs commented on #30
great to see progress here. thank you so much @tatjanala :heart:

[2013-07-11 10:57] Uepsilon commented on #20
Remember that you'll also need some device to run the screens (obviously). :smile:  I'd recommend PIs. I have some but we may need them for a project. Otherwise I can help out with at least 1.

Even so i'd try to get some from the community for the event. At iacologne we had some from visitors.

[2013-07-11 11:04] moonglum commented on #22
Ärmeldruck oder nicht: Hm – ich tendiere zu keinem Ärmeldruck ;) Guckt eh kein Mensch drauf. 17 bzw. 20 Euro finde ich super.

[2013-07-11 11:14] Uepsilon commented on #33
I've search the web a little bit but it seems there is no free version of a twitter wall that is capable of displaying pictures - except for those old ones with silverlight which i cannot get running with ubuntu ;).

I think [ThinkWall](http://www.thinkwall.com/) seems nice from their videos but it is not free. I'll ask them to tell me what their prices are or if there can be manged something with

[2013-07-11 11:18] Uepsilon commented on #22
Sind in den 11€ zum Shirt schon die Shippingkosten für die Shirts mit drinne? Klang irgendwie nicht so.

Ich frag mich gerade, ob man nicht auch andere Kragenformen anbieten sollte. Ich finde rund zB nicht so cool (auch wenn es irgendwie 99% tragen). Wenn man eh shirts + druck einzeln macht, könnte man doch einfach 20 graue shirts (rund), 20 schwarze shirts (rund), 20 rote shirts (rund), 5 graue s

[2013-07-11 11:30] DonSchado commented on #22
also ich würd ja sagen so kurzfristig, sollten wir da jetzt nicht noch x-mal das Angebot ändern.
Zudem ändern sich dann auch wieder die Preise je Shirt etc...
und wie Basti schon sagte: "Wir sind ja kein Klamottenladen". ;)

11€ netto war im Angebot, also vermutlich incl. Shipping, da das über den Drucker abgewickelt wird.
Find das ist schon sehr fair.

[2013-07-11 11:31] raucao commented on #22
Keep it simple, please.

[2013-07-11 11:31] raucao commented on #33
Just do it. No need to ask for permission.

[2013-07-11 11:35] Uepsilon commented on #22
Typisch Deutsch Over-engineered :D Recht hat er ;)

[2013-07-11 11:39] moonglum commented on #22
Ja, stimme @skddc absolut zu – bloß nicht :wink: Eine Farbe, ein Schnitt, ein Logo. Fertig.

[2013-07-11 11:50] lliane commented on #22
Raus damit! Ich find's sehr cool!

(( Und einen Kommentar zu V-Necks muss ich mir jetzt richtig dolle verkneifen :sunglasses: ))

[2013-07-11 11:52] moonglum commented on #22
Wann geht denn die Umfrage zu den T-Shirt Größen raus? Oder habe ich was verpasst?

[2013-07-11 11:53] tatjanala commented on #30
YAY! I'll put the text on our facebook page and we`ll start to twitter like crazy!

[2013-07-11 11:53] tandibar commented on #22
Ok, MCS hat kein American Apparel im Angebot, wenn es also genau das Shirt sein soll sind die raus. Verfolge das Thema also nicht weiter und wir nehmen das aktuelle Angebot.

[2013-07-11 17:41] larsvegas opened #40 "Meetup notes for the audio equipment"
Hey,

find the notes here: https://github.com/railscamp/railscamp-germany-2013/wiki/MeetUp-Notes:-2013.railscamp.de---Audio-&-Video

@railsbros-dirk, @jhilden may you double check and send it back to Dirk, so he will not "forget about it" ;)

[2013-07-11 18:18] code-later commented on #40
Thanks Lars for writing this done. Looks good. I just added the subwoofer and I remember the distance between the projector and the screen is 6 meter.

On 11.07.2013, at 19:41, larsvegas notifications@github.com wrote:

[2013-07-11 22:09] jhilden commented on #40
Closing this extra issue in favor of #3   Will copy the link to the notes over.  Thanks a lot @larsvegas & @railsbros-dirk

[2013-07-11 22:09] #40 closed, assigned to nobody

[2013-07-11 22:12] jhilden commented on #3
Here are the notes form the meeting at the venue today:  https://github.com/railscamp/railscamp-germany-2013/wiki/MeetUp-Notes:-2013.railscamp.de---Audio-&-Video

@cice that would be awesome if you could bring your system.  Would it be possible that you could already be at the venue Friday at noon, so we can set everything up before the masses get there?

[2013-07-11 22:16] jhilden commented on #28
For the main hall we need a projector to project on a 4x3m screen from ca. 6m **fixed** distance.  We need to take this into account when ordering, so it has the right lense.

@railsbros-dirk said they can bring a small projector from Home Office Cologne, so we only need 2 more for the smaller rooms.  Who else could bring a projector?

[2013-07-12 05:44] klaustopher commented on #3
Just a remark: What about speakers not using a mac? If the only connection to the projector is via AppleTV, they cannot participate.

[2013-07-12 07:35] raucao commented on #3
That would not be acceptable in my opinion.

There are other general-purpose A/V radio solutions that work with just cables plugged into the computer. Maybe we have to look into that, if we don't have A/V cables on the stage.

How is that supposed to work? As a developer/hacker event, we need the ability to give live coding demos and to not do their presentations with remotely-controlled Keynote s

[2013-07-12 07:50] jhilden commented on #39
OK.  Here is the current pilot version of the survey:  http://survey.uepsilon.ursa.uberspace.de/index.php/survey/index/sid/148912/newtest/Y

Please try it out and give me some feedback if there is anything that should be changed/added.   I will then send out the email and start the survey sometime this afternoon/evening.

[2013-07-12 07:55] DonSchado commented on #39
![error](https://f.cloud.github.com/assets/685742/786846/6274551e-eac8-11e2-8d58-32d2300f2683.png)

[2013-07-12 08:03] jhilden commented on #39
Hmm.  Can you let me know if this works?  http://survey.uepsilon.ursa.uberspace.de/index.php/survey/index/sid/148912/newtest/Y/lang/en

[2013-07-12 08:07] jhilden commented on #3
We will figure out the Rednerpult thing during setup on the Friday, we are flexible in that regard and will find the best solution.

I guess I'm with @skddc on the Apple TV and would vote for an old school VGA cable :)

[2013-07-12 08:14] cice commented on #3
@jhilden that should be no problem, can you estimate when? i'm located near Jülich, so it's not that far.

[2013-07-12 08:14] code-later commented on #3
Regarding the AppleTV, if there are only slides, you still can hand them over a Mac guy. But I see the problem when it comes to live coding. Getting a cable up there just isn't very easy, but we will figure something out. And no, VGA is _not_ an option ;-)

Regarding the speaker's desk: We can still put some small table on the stage but I prefer to have no table on stage as the default.

[2013-07-12 08:21] DonSchado commented on #39
work's

[2013-07-12 08:22] Uepsilon commented on #39
works for me without beeing logged in as an admin.

[2013-07-12 08:23] klaustopher commented on #3
Well, both connections (DVI and VGA) start to get problems when running them over 10m ... VGA starts to get blurred, DVI simply stops working ... Both connections need amplification...

[2013-07-12 08:26] code-later commented on #3
That's what I wanted to say with "isn't very easy". Not using VGA is more like "it's 2013" ^^

[2013-07-12 08:31] raucao commented on #3
As I said, there are radio-solutions available that bridge the distance, but use cables to both devices on the ends.

Yer, I don't see an issue there. Just needs to be there, so people can properly use their notebooks on stage. We can manage with some empty crates, though. Always works somehow.

[2013-07-12 08:38] code-later commented on #3
@skddc a radio solution is a great idea, maybe whoever is responsible for getting as a projector (railscamp/railscamp-germany-2013#28) should take care of this?

[2013-07-12 08:46] raucao commented on #39
Works and looks great! Good job!

I'm not sure that should be the way. Wouldn't it be better to add it to GitHub and/or the session tool?

[2013-07-12 08:50] raucao commented on #3
Apparently there are even cheaper transmitters using ethernet. Check this out e.g.: http://www.ebay.com/itm/Extron-TP-T-15HD-A-Cat-5-Transmitter-/360692824818?pt=US_Audio_Video_Transmitters&hash=item53faf7baf2

[2013-07-12 09:05] Uepsilon commented on #39
why is there a "newtest" in the link? I haven't found this name in the survey.. ;(

[2013-07-12 10:38] Uepsilon commented on #33
Damit hat sich das wohl erledigt... Bleibt also entweder OpenSource oder irgendwer baut schnell was schickes (was im Optimalfall auch Bilder kann ;))

[2013-07-12 13:11] Uepsilon commented on #39
Ah "newtest/Y" appears when you trigger a test via admin-panel. I don't know whether it has any influence on the statistic (does not seem so at least), but i guess we should strip it when sending the mail. So the correct URL would be
http://survey.uepsilon.ursa.uberspace.de/index.php/148912/lang-de for the german version
http://survey.uepsilon.ursa.uberspace.de/index.php/148912/lang-en for the eng

[2013-07-12 17:02] jhilden commented on #39
OK.  I have cleared the responses up until now and send out the email via eventbrite.  Let me know if there are any issues.

[2013-07-12 18:12] moonglum commented on #39
Uhm, you didn't ask if the person is a lady or a gentleman, which is quite important for the T-Shirt IMHO.

[2013-07-12 18:15] Uepsilon commented on #39
You cannot add a question when the survey is active. I'll add it tonight (so we won't miss any potential entries).

[2013-07-12 19:05] raucao commented on #39
The t-shirts are unisex, no? Do you want to order various kinds of shirts after all?

[2013-07-12 19:09] moonglum commented on #39
I'm not sure, @DonSchado ?
I remember that there was quite a lot of mumbling by some ladies at Scottish Ruby Conf that they "will only wear that shirt for sleeping in it", because it was a male shirt.

[2013-07-12 19:54] DonSchado commented on #39
Whooa, what a trap! :rabbit:
Good point @moonglum!
But no panic. The American Apperal Site says it's **unisex size – women may prefer to order one size down**.

_phew_

[2013-07-12 19:56] moonglum commented on #39
Ok, then we should add this piece of information to the survey :wink:

[2013-07-13 10:35] code-later opened #41 "Proposal: Arcade Fighting Game Tournament"
Hi friends,

maybe I'm alone with this, but I quite like those arcade fighting games :-) And as we have some big screen and a nice PA what about some fun tournament? I could bring a PS3 with some games and two arcade sticks.

If anyone is interested in this kind of activity please let me know. If not, just close this issue ;-)

[2013-07-13 10:57] raucao commented on #41
The early beta of the session planning tool is online at http://sessions.railscamp.de – go ahead and enter session proposals already! It's still buggy and unfinished, but you the more we have in there, the better.

Be sure to add issues or comments to https://github.com/railscamp/railscamp-activities/issues when stuff breaks. ;)

[2013-07-13 10:57] #41 closed, assigned to nobody

[2013-07-13 11:09] cice commented on #39
there is an extra space at the end of the survey link in your email (http://survey.uepsilon.ursa.uberspace.de/index.php/148912/lang-en%20), which causes a 404.

[2013-07-13 11:19] Uepsilon commented on #39
fixed via htaccess

[2013-07-13 21:23] moonglum commented on #34
@DonSchado Und? Was neues? :smile:

[2013-07-14 07:06] DonSchado commented on #34
Nope :( will da nochmal jemand hinfahren?

[2013-07-14 19:55] jhilden commented on #39
@Uepsilon thanks a lot for fixing the link!

We have 38 complete responses so far and I think we should be able to decently extrapolate t-shirt interest from that.  I added a note about the unisex sizes for people that haven't filled out the survey yet.

[2013-07-14 21:10] Uepsilon commented on #5
Did someone took care about it? Otherwise i'd try to get some numbers from different services. Are there some special things to know or is it just beer (kölsch and pils), soda (mixed) and club mate?
At iacologne where different juices etc. which was quite cool.

[2013-07-14 21:56] jhilden commented on #5
This issue is still up for grabs and any help would be appreciated.

FYI:  PutPat is going to sponsor 10 cases of beer.

I would suggest we get the following types of drinks:
- Kölsch  (suggestion:  Mühlenkölsch)
- Pils  (any suggestions?)
- Coke  (suggestion:  Afri Cola)
- Water, carbonated & uncarbonated  (whatever is cheapest)
- Club Mate

We just have to figure out the right amounts.  I think

[2013-07-15 06:33] jhilden opened #42 "Marketing"
Since we still have a good number of ticket spots left, let's go and do some marketing.

Here are some potentially worthwhile things to try:
- email/twitter to ruby usergroups
- write to the main ruby news outlets:  rubyflow, ruby weekly, ruby5, ...
- invite other rubyists personally
- do some marketing in our neighbor countries:  netherlands, belgium, poland, france, switzerland, austria, ...

An

[2013-07-15 06:34] jhilden commented on #42
I just posted our event to RubyFlow:   http://www.rubyflow.com/items/9564-railscamp-germany-2013-cologne-july-26-28

[2013-07-15 07:30] jhilden commented on #42
Here is a post on Facebook that you can share with all your friends:  https://www.facebook.com/Railslove/posts/681921111833660

Do you think it makes sense to create an event for the Railscamp on facebook??

[2013-07-15 07:55] DonSchado commented on #22
@jhilden und ich haben ein paar Zahlen geschubst und sind jetzt mit kleinem Puffer bei 75 Shirts:
8S + 22M + 30L + 12XL + 3XXL

Das wäre jetzt das was ich heute zwischen 11 und 11:30 bestelle!
Sofern der Typ noch bock auf uns hat, nach der dritten Mengenänderung. ;-D

[2013-07-15 07:56] DonSchado commented on #34
Rufe gleich da an und berichte...

edit: jo, muss einer hinfahren, Telefon können die nicht...

[2013-07-15 08:11] Uepsilon commented on #5
I've created a [Spreadsheet](https://docs.google.com/spreadsheet/ccc?key=0AkRu3FtKME1ydENLU2s2T3JEakhqd3hjaU5GRWlseVE&usp=sharing). Maybe someone with a little more experience in this may predict which amount of stuff we'll need.

Since 4 fridges are available, I guess we don't need any further, do we? What about a beer pump or would you like to go with bottled beer only?

Anyway, i'll ask at [sev

[2013-07-15 08:28] raucao commented on #5
The Sünner brewery is like 100m beeline from the venue. Maybe we should just get large kegs from them, and if we're lucky they'll lend us a pump as well...

[2013-07-15 08:29] raucao commented on #22
Also keine Vorbestellungen erst?

[2013-07-15 08:31] DonSchado commented on #22
Was meinst du? :)

[2013-07-15 08:31] raucao commented on #42
I for one don't.

I'll extend ticket supply today and will publish another blog post about it. There's only 10 left, so we sold 90% of the first batch.

[2013-07-15 08:40] raucao commented on #22
Egal, hab grad das Survey-Update gesehen. ;)

[2013-07-15 08:40] jhilden commented on #22
@skddc Wir haben die Daten aus dem Survey ein bisschen extrapoliert und damit entschieden wie viel wir bestellen wollen.  Wir **müssen** heute bestellen sonst wird das nix mehr zeitlich.

Hier sind die Daten:

Wir haben 40 Responses erhalten und davon wollten 62.5% ein t-shirt kaufen.  Hier die Details:

[code]

Wenn wirklich 62.5% ein t-shirt nehmen, dann sollten wir mit den 75 bestellten shirts

[2013-07-15 08:52] Uepsilon commented on #5
I guess we'll get the Pump from all shops when we order kegs and we don't have to settle with Sünner (not to be picky or so) but can choose which one we'd like. And even if not, I don't think a pump is that expensive.

Big downside with a Keg: You have to have someone around who at least know how to open a keg properly without spilling all the beer. And it would be even better if you have some bar

[2013-07-15 09:11] raucao commented on #22
Weiß nicht wie du auf 120 kommst, nachdem wir 90% der ersten Charge los sind, aber gut. Lieber zu wenige als zu viele!

[2013-07-15 09:27] Uepsilon commented on #5
fixed access to spreadsheet..

[2013-07-15 13:15] schorsch commented on #10
@jakob i talked to Tatijana and we estimated 380-450 € based on our last
happenings. I scheduled to go shopping at handelshof on friday afternoon
and will to prepare the Rostbrätl afterwards.

The list so far:
- ~100 pcs of pork -> converted to rostbrätl + Onions, Beer, Mustard
- 100-150 Bratwurst
- Corn for our veggies
- Salad's ???

2013/7/4 Garret Alfert notifications@github.com

[2013-07-15 17:30] galfert commented on #10
Can someone tell me the number of vegetarians from the survey? Then I will come up with what and how much I need for the veggie options.

[2013-07-15 17:39] jhilden commented on #10
These are the numbers from the survey:

[code]

Other restrictions:
- Bacotarian
- nut allergy
- Laktose-intolerant
- No frutti di Mare and no insides

@galfert some numbers for the budget would be really good!

[2013-07-15 17:45] galfert commented on #33
Yer, that's also what I found. All the reasonably good ones put up some ridiculous prices.

I started to hack on a little app with Twitter and Flickr integration on the weekend. I think I can build something useable for the camp from that.

[2013-07-16 08:30] schorsch commented on #10
es wird gegessen was auf den tisch kommt!

2013/7/15 Jakob Hilden notifications@github.com

[2013-07-16 09:30] Uepsilon commented on #5
@jhilden the numbers you provided are per day, right? i've added another bunch of numbers what i think (after talking with ben) per person for the event (incl. warmup). do you agree on them?

[2013-07-16 13:55] raucao commented on #11
What's the current status? The app is very buggy, but we should start adding sessions asap.

[2013-07-16 16:29] jhilden commented on #17
@bascht we are on it to find sponsors for the cofee.  Thanks for getting the prices for us. When do you need to make the reservation final?

We definitely have enough space to drive the car into the hall or it could also park behind it.  I don't think water supply should be a problem.

[2013-07-16 16:41] moonglum commented on #11
I will try to get some stuff done on Sunday. Can't really work on it before though :unamused: Maybe some people can hack on it tomorrow as @jhilden suggested?

[2013-07-16 16:43] DonSchado commented on #34
War gerade da. Telekom/4010 is durch.
Der Kerl hat mich voll abgespeist:

"Hier gibt's nur Verträge, n Kontakt nach Bonn haben wir hier nicht... wenn sich bisher keiner bei ihnen gemeldet hat, können wir ihnen da wohl nicht helfen..."

Sollen's mal über die Mobilefunk-Business Hotline versuchen: 0800-3302828

Naja, hat sonst noch jemand noch ne Idee? :)

[2013-07-16 16:47] bascht commented on #17
Well - as there is not much time left  - would it be possible to fix a deal this week?

[2013-07-16 17:10] moonglum commented on #34
AFAIK the two things left are:
1. Tividoo: Crazy expensive. I don't know if this fits our budget.
2. Richtfunk: I don't know what the status is on that?

I think we should really start building up a Plan b. I suggested setting up a Ruby Gems Mirror (via [rubygems-mirror](https://github.com/rubygems/rubygems-mirror) and [geminabox](https://github.com/geminabox/geminabox)) plus Git(lab – maybe plus

[2013-07-16 17:56] DonSchado commented on #22
Antwort vom T-Shirt Mann: "Lieferung würde so wie es aussieht klappen"

[2013-07-16 19:12] raucao commented on #22
\o/

[2013-07-16 19:22] DonSchado commented on #21
@railsbros-dirk bestellt? :)

[2013-07-16 20:05] jhilden commented on #22
Warum "würde"?  Ist das noch nicht final?

[2013-07-16 20:07] jhilden commented on #11
I'm down.  Who else?

[2013-07-16 20:11] jhilden commented on #11
@skade could you make me an admin for the repository so I can add 1-2 more people tomorrow if need be?  That would be awesome.

[2013-07-16 20:17] DonSchado commented on #22
Doch alles gut! :)
War jetzt aus dem Zusammenhang gerissen.

[2013-07-16 20:29] skade commented on #11
@jhilden I trust you to be sane people and gave the Railscamp DE team adminstrative for the next few days.

[2013-07-16 20:35] jhilden commented on #11
Thanks a lot @skade.  We will be very sane and mostly stay within the `railscamp_germany` branch.

[2013-07-17 09:29] cice commented on #34
maybe put the ruby core docs and rails api docs on that server too

[2013-07-17 09:46] schnittchen commented on #34
Twitter-bootstrap maybe?

[2013-07-17 09:47] thegcat commented on #34
What about completely forgetting about Internet at the venue and providing a gem mirror, some docs, a gitlab or whatever and just the network so that people can connect between themselves if needed. For proper access to internet: most people probably have a data plan already, that should be enough for the rest (it would probably be enough for me at least).

[2013-07-17 09:51] tatjanala commented on #28
Hey, I just talked to someone at  http://www.projektorvermietung.com/preisliste.html and we can have either an 5500 Lumen projector or an 4500 Lumen projector (which is almost as good as the other one cause it has new lamps an stuff) from friday 18h till sunday 18h for 75€ (for two days). If we need two more regular projectors as well it's not a problem. They cost around 30€ for two days...

[2013-07-17 09:55] bumi commented on #28
from what I was researching... that's a good deal. with a price at around 20-30€ I would also say let's get an additional small one. (for example: Sanyo PLC-XU350a )

[2013-07-17 09:56] tatjanala commented on #4
Hey, the other offer was way to expensive so we decided to order at cafecafe. We can wait for the order till next wednesday, so we know better how many people will come...

[2013-07-17 09:58] jhilden commented on #28
agreed.  let's make it final.  let's get the big projector and 1 small one.

will they deliver the beamer to the venue, or do we need to get it?   it should ideally be there by friday noon, because we will need to fix it to the traverse in the venue.  does it/they have any sort of fixing-projector-to-traverse-stuff?

Anything else you need to know to finalize it @tatjanala ?

[2013-07-17 10:10] bumi commented on #34
I personally think internet is overrated. It is great to have and all the effort everybody has put into this is just amazing. :heart:
If it is not possible, I think it's fine. we had great events without internet and even the internet sucked at the best conferences so much that it was pretty much not existing. - (yeah I know we do not have a conference... ;) )
As Felix said, most of the people hav

[2013-07-17 10:18] DonSchado commented on #34
For API Documentation on OSX I recommend Dash: https://itunes.apple.com/de/app/dash-docs-snippets/id458034879?mt=12 ;)

For anything else too large for 3G plans,
we maybe can setup a "Internet-gas-station", where ~5 ppl can connect over ethernet?

@railsbros-dirk and @tisba come up with this idea I think. (Ah or was it @koos ?)

[2013-07-17 10:27] tisba commented on #34
Good luck with 3G when 100+ people around you are trying do use it ;)

@bumi I think it is not very fair not telling paying participants of a hacking event that there will be no internet connection. some might not really care, but some might be. Personally, when I know that there is no internet around, can prepare myself and still have a good time hacking things. But knowingly withholding this inf

[2013-07-17 10:41] jhilden commented on #34
@tisba message ist out https://twitter.com/railscamp_de/status/357446522570412032 PLZ RT

[2013-07-17 10:44] tisba commented on #34
@jhilden totally missed that, sorry. is there a way to reach all participants by email?

[2013-07-17 10:52] koos commented on #34
@sebastian - you're not paying for having internet you're paying for
everything else that make this event unique. And it will be - even without
internet. I agree to bumi. Lets focus on other things from now.
On 17 Jul 2013 12:27, "Sebastian Cohnen" notifications@github.com wrote:

[2013-07-17 11:04] eimann commented on #34
Have you asked the Koelner Studentenwerk? They should be located in sight of the Abenteuerhallen building, if that's the case and they're giving you an Ethernet port I'm able to sponsor you appropiate equipment for the weekend.

[2013-07-17 11:04] raucao commented on #34
@koos You just mentioned https://github.com/sebastian instead of the one you meant. ;)

Anyway, it looks like the paid-for LTE will even be within our budget if all goes well.

[2013-07-17 11:05] eimann commented on #34
The FH Koeln is also next to the Studentenwerk, maybe ask some of their Computer Science students, if they have any?

[2013-07-17 11:05] bumi commented on #34
@tisba totally agree! and this event is one of the most open and collaborative events that I know. note is already out. what else could be communicated?

[2013-07-17 11:07] raucao commented on #34
@eimann Can you find out if there's a direct line of sight to the Abenteuerhallen?

[2013-07-17 11:26] eimann commented on #34
@skddc it should work, even without a direct line of sight (trees are ok, buildings not so much), it's roughly 1.5km. I just don't have a contact at the FH yet who can arrange an Ethernet-Port + rooftop access.

![railscamp-rifu](https://f.cloud.github.com/assets/2742432/811414/9398c10c-eed3-11e2-88f8-5757cfbee134.png)

[2013-07-17 11:28] tisba commented on #34
@koos of course. The issue is that internet connectivity for such an event in cologne is taken for granted. I'm just saying it should be made clear to everyone beforehand so that they can decide if it is okay for them or not.

@bumi I missed the announcement on twitter and the blog (didn't even noticed before that there is a blog) and a couple of others I know off missed it to.

Long story short:

[2013-07-17 11:32] bumi commented on #34
I've contacted [QSC](http://www.qsc.de/) (also of Barcamp Cologne 1 fame), but I don't have much hope that they are able to support us.

@tisba no, I guess not that's why this is such a long issue and everyone is trying to fix it :)

[2013-07-17 11:34] raucao commented on #34
That wi-fi connection looks doable, and universities have proper uplinks. This could be gold!

How do we proceed?

[2013-07-17 11:36] klaustopher commented on #3
I just talked to our AV person at work. He said that it's no problem using DVI over long distances and that he has used longer cables than 10m in setups he used. When using 1024x768 resolution, you can go around 50m with regular cables, Full-HD resolution works for around 30m. If longer distances are needed, there are [DVI-fibre cables](http://www.kramergermany.com/products/model.asp?pid=783&sf=16

[2013-07-17 11:37] eimann commented on #34
I'm just trying to figure out whom to contact there. And as @bumi QSC might be an option too, it should be in reach for their Wireless Local Loop product. I've asked a contact there if it's possible and how long they need to get it up & running.

[2013-07-17 12:10] thegcat commented on #34
(Just a note about @tisba s comment: _should_ the internet still be problematic or off the table on monday, I strongly vote in favor of informing the participants _directly_/via e-mail of this so they can take appropriate measures)

[2013-07-17 12:18] raucao commented on #3
Sounds good! 1024x768 is enough for presentations anyway.

[2013-07-17 12:19] raucao commented on #34
Go, @eimann, go! :D

[2013-07-17 12:24] klaustopher commented on #34
Agreeing with @thegcat here. A blog post and a tweet containing a "cry for help" with the internet issue is not a clear communication to the attendees that there might be limited to no internet connectivity. If I hadn't looked at the issues here I wouldn't know that this might be an issue and I think a lot of people just bought a ticket without checking in here.

[2013-07-17 12:28] raucao commented on #34
Everybody calm down, please! There _will_ be Internet at venue. The question is only how fast exactly and how expensive it'll be.

We also just received word from the LTE/router provider that it's going to be much cheaper to set up than what the first offer was.

[2013-07-17 12:31] kristin-s commented on #29
![basic ship plan](https://f.cloud.github.com/assets/5016015/811646/adfa3018-eedc-11e2-8375-6e7f214a5264.jpg)

[2013-07-17 12:36] koos commented on #34
I'm also working on getting it from my friend or from the trash chic via
richtantennen. #jfyi
On 17 Jul 2013 14:28, "Sebastian Kippe" notifications@github.com wrote:

[2013-07-17 12:38] raucao commented on #29
@kristin-s Hah, awesome! :)

[2013-07-17 12:40] kristin-s commented on #29
I think this might help you to decide on some good names for your camp... ;)
Have a look whether this works for you:

"We have the following rooms in the venue:

[code]

[2013-07-17 12:41] kristin-s commented on #29
I have no idea why this looks like it does but at least it hopefully catches some attention :dart:

Thanks Jan, btw I still try to convince Jakob that you all dress up as pirates

[2013-07-17 13:31] Uepsilon commented on #5
Response 1:
P&M Getränke (Bonn) are not interested.

Response 2: https://docs.google.com/file/d/1Xc9LP_Sqr6PQQo04Qw66U8F3TpfCOs8UKo4vs7k5oCVIUhV1MdVKvHu3j6h0/edit?usp=sharing

Please notice that these prices are before tax, so it'll be around 2400€ if we return all bottles unbroken ;)

I guess we can save some money by switching from Fritz Cola / Orange / etc. to the Coke-Pendant. But I'll ask for

[2013-07-17 13:32] galfert commented on #10
Hier mal meine Berechnungen für gefüllte Riesenchampignons und Gemüsespieße. Habe 20 Personen angesetzt. Ich denke das sollte reichen, oder? Und was übrig bleibt kann ja auch als Beilage zur Bratwurst gereicht werden. Ist sogar alles Low Carb ;)
- 20 Riesenchampignons
- 500g Cherrytomaten
- 9 Paprika
- 6 Zucchinis
- 3 Auberginen
- 3 Zwiebeln
- 2 Gemüsezwiebeln
- 3 Becher (à 200g) Crème Fraiche
- 3

[2013-07-17 14:19] schorsch commented on #10
auf der liste

Am 17. Juli 2013 15:32 schrieb Garret Alfert notifications@github.com:

[2013-07-17 14:33] raucao commented on #5
I don't understand that calculation. Are these 35 crates etc each?

[2013-07-17 14:48] Uepsilon commented on #5
Amount = Number of Crates with each 24x 0,33l (or water 12x 0,7l) each.

[2013-07-17 15:08] raucao commented on #5
Ok, that's _way_ too much from our past experience. I'll try to have another look at it tomorrow and esp. find the numbers from last RailsCamp. Unfortunately I don't have time today.

[2013-07-17 15:15] Uepsilon commented on #5
I talked to several ppl. including Ben Kasselmann, he told be to calculat about 5 Softdrinks per Person / Day and 1,5l Beer per Person / Party. That's what I did (check the Spreadsheet). Calculating with 150 ppl those are the results

[2013-07-17 15:49] galfert commented on #10
@jhilden Preislich komme ich für's Veggie BBQ auf insgesamt knapp 50 Euro.

[2013-07-17 18:14] Uepsilon commented on #33
If there is a problem with displaying the twitterwall (aka hardware?!), we may have a setup for another project which comes with at least some displays. We might use them to display the twitter-wall too (let's decide that during the event, setting it up should not take that long if the wall is running).

[2013-07-17 18:20] jhilden commented on #27
@mobbit will check about the Liegestühle

[2013-07-17 18:26] jhilden commented on #19
What's the current state/plan/budget here?

[2013-07-17 18:27] jhilden opened #43 "Stickers"
@DonSchado will check if we can get stickers with the Railscamp logo?

[2013-07-17 18:45] jhilden commented on #13
@koos will check if we can get Mehrfachstecker from Dingfabrik.  And we can bring some from Railslove/CowoCo

@schorsch will bring a Kabeltrommel

[2013-07-17 18:49] jhilden opened #44 "Participant Checklist"
Here will will collect stuff that participants can/should bring along:
-  Mehrfachstecker
- Smartphone for thethering
- Laptop
- Sleeping bag + sleeping pad
- Session ideas
- Towel (Don't Panic!)
- Fan ("Ventilator")

[2013-07-17 18:51] thegcat commented on #13
Ich frage mal einen bekannten Elektromeister.

[2013-07-17 18:57] jhilden opened #45 "Setup on Friday"
Who will be there?

Morning
- [x] Jakob Hilden
- [x] Lars Wolf
- [x] Dirk Breuer

Afternoon:
- [x] Georg L. (BBQ shopping)
- [x] Jan Kus
- [x] Marcel
- [x] Marco S.
- [x] Basti Kippe
- [x] Garret
- [x] Maxim K. (from 5pm on)
- [x] Tim Buchwaldt (wifi)
- [x] Klaus Z.

Tasks:
- [x] Audio setup
- [x] Stage
- [ ] Get the projectors
- [ ] BBQ shopping
- [ ] Recieve drinks delivery
- [ ] Uplink setup
-

[2013-07-17 18:58] #39 closed, assigned to jhilden

[2013-07-17 19:50] jhilden opened #46 "Local Services (rubygems mirror, gitlab, etc.)"
In order to be more independent from "the internet", there was the idea to create some local services such as a rubygems mirror or a local gitlab installation.

[2013-07-17 19:53] jhilden commented on #46
Some qoutes from emails:

##

##

[2013-07-17 19:54] jhilden commented on #46
@timbuchwaldt we have an old spare MacBook at Railslove, don't know if that would be enough?

Could anybody else sponsor some hardware?

[2013-07-17 21:45] erdnusskeks commented on #19
Sorry, sorry. I waited for stuff I ordered. Now it arrived and I started to prepare everything. By the way: number 4 is the winner (with two votes)! ; )

I will cut the packaging paper (DIN A 4) and fold it two times so we have 4 paper layers (much more solid than just one layer). Then fixing everything with tape, stabbing a small hole for the lanyards/ribbons - and everyone can write his/her name

[2013-07-17 21:51] jhilden commented on #34
Since it seems not unlikely that we might be able to get some sort of guerilla Richtfunk connection in place on way or the other,  where exactly do we get the equipment from?  Form Berlin @thilo ?   Or from the CCC where we get the wifi equipment @timbuchwaldt ?   Or @eimann you said you would able to "sponsor appropiate equipment for the weekend" ?   Please get back to me on how this could happen

[2013-07-17 22:00] jhilden commented on #19
I think it's going to be the best lanyards ever!

I especially like the idea with the stamp :thumbsup:
Here is an Adobe Illustrator file of the flame:  http://dl.5apps.com/stuff/flame.ai   And here is a low-res image with the lettering: http://screencloud.net/v/wSWi  Not sure if that's enough.  I think it would be a good idea to leave out the "2013", so we could also use it for future Railscamps.

[2013-07-17 22:58] eimann commented on #34
@jhilden we will sponsor Router + 2x 65cm dishes with radio module each (up to 30km with line of sight, 100Mbps), a /22 IPv4 network and a /48 IPv6 network via that router

[2013-07-18 05:50] raucao commented on #13
150 chairs might be enough afterall, because our beer garden doesn't have to be so large. Right?

[2013-07-18 05:50] raucao commented on #45
I'm in.

[2013-07-18 05:50] raucao commented on #46
That's enough.

[2013-07-18 07:36] erdnusskeks commented on #19
Hm, the lettering is quite small (34 KB). Is there any chance to get it in a higher definition? Maybe even the .ai version? "Worst" case would be a stamp with just the flame. ; )

[2013-07-18 07:43] raucao commented on #19
It's just HTML and CSS on the website. No graphics.

You should just use the font, which is the free Source Sans Pro in its 300 cut: http://sourceforge.net/projects/sourcesans.adobe/files/

[2013-07-18 08:22] erdnusskeks commented on #19
Ok, thanks. But I can't make it with Word. It's too mühsam... I don't have any other programme on this computer and time is not on my side... So I will just go to the printshop and ask if they can make it with the small lettering. Maybe it works! : )

[2013-07-18 08:28] lliane commented on #19
Ask me!
How can I help? Skype mich an!

Am 18.07.2013 um 10:22 schrieb erdnusskeks notifications@github.com:

[2013-07-18 08:29] galfert commented on #45
I can only take the train on friday morning, but I'll be there for the afternoon shift :)

[2013-07-18 08:31] raucao commented on #19
\o/

[2013-07-18 08:45] jhilden commented on #13
I think so, too

[2013-07-18 08:48] jhilden commented on #34
@eimann awesome.  You're the man!   What company should I put on the sponsors page of our website?

Now we only have to find a place to set it up, but we are on it and maybe more people can help as well.  When could you & the equipment be in Cologne next week?  Friday morning would be good.

[2013-07-18 08:51] timbuchwaldt commented on #46
For Git and other local services, yes. @markmcconachie thought about bringing his Mac Mini, so just bring it along and we will have some buffer to start new services :)

[2013-07-18 08:52] timbuchwaldt commented on #45
I will be there :) From whatever time is necessary on, I am on vacation

[2013-07-18 09:32] marcel12bell commented on #42
Here the List of the Postings:
google+:
https://plus.google.com/117385509303644635034/posts/Kbd2aF1ywD7
https://plus.google.com/117385509303644635034/posts/ENcWoWK2bwD
https://plus.google.com/117385509303644635034/posts/AZhSk6wJRkL
https://plus.google.com/117385509303644635034/posts/bYFYJxScYNm
Foren:
https://www.ruby-forum.com/topic/4415692
http://forum.ruby-portal.de/viewtopic.php?f=7&t=25332

[2013-07-18 09:43] eimann commented on #34
@badboy and myself will be in Cologne on 26th at 1100 (or earlier, but I don't think this will work due to traffic)

[2013-07-18 10:45] raucao commented on #42
@marcel12bell Cool, thanks!

[2013-07-18 12:26] thilo commented on #10
@schorsch satt das wir ne Rechung an Sales King stellen und davon denn die
Zutaten kaufen kann du die auch einfach auf SalesKing
Rechnung kaufen? spart verwaltung und kommt aufs selbe raus.

[2013-07-18 12:42] lliane commented on #43
Heyho.

Hier sind Entwurf und Angebot.
Machen?

![bildschirmfoto 2013-07-18 um 14 38 35](https://f.cloud.github.com/assets/1529276/819007/5719986c-efa7-11e2-9faf-29d7d6d65dc4.png)

![bildschirmfoto 2013-07-18 um 14 41 38](https://f.cloud.github.com/assets/1529276/819008/687f8274-efa7-11e2-88a7-af0533ba7b7e.png)

[2013-07-18 12:50] DonSchado commented on #43
Sind bestellt! Thx @lliane! :)

[2013-07-18 12:53] raucao commented on #43
What about the flame?

[2013-07-18 12:54] raucao commented on #43
Also, this one would have to be transparent for me personally to put it on my laptop.

[2013-07-18 12:55] jhilden commented on #43
I'm contra transparent ;)

[2013-07-18 13:13] lliane commented on #43
Bezahlt und bestellt.

[2013-07-18 13:23] klaustopher commented on #45
I can be there around noonish, bring the @putpat provided beer and can help with some of the AV or Wifi Setup

[2013-07-18 13:46] schorsch commented on #10
@thilo geht leider nicht so einfach weil ich nicht das ganze BBQ bezahle.
Ich will mir auch keine gedanken machen auf welche firmen, welcher teil der
rechnung geht und ob diese firmen auch handelshofkarten haben.

Schreib mir eine Rechnung über 150€ sponsoring, gebt mir eine
handelshofkarte und cash oder cc über das budget.
btw. Tatjana kommt mit und bei den bisherigen events haben wir das über RL

[2013-07-18 14:16] DonSchado commented on #43
\o/

[2013-07-18 14:36] Uepsilon commented on #5
Response Aktivgetränke (Summed up in a Spreadsheet I created, but i used the numbers).

The Sums below the articles are for bottles only, because I think KEGs will be hard to handle (and not cheaper at all)

https://docs.google.com/spreadsheet/ccc?key=0AkRu3FtKME1ydE1Mcm9EQnJjZ1ZlTGRPNFp2Wi1lbVE&usp=sharing

edit: achja, pro VOLLEM kasten, den wir zurück geben berechnen sie uns 0,75€ zzgl. MwSt.

[2013-07-18 14:47] badboy commented on #33
info-beamer was used at 29c3, is written in lua and comes with an already written twitter script. See http://info-beamer.org/, https://github.com/dividuum/info-beamer, https://github.com/dividuum/info-beamer-nodes

[2013-07-18 15:11] jhilden commented on #5
so what is the conclusion on the 2 suppliers and their prices?

[2013-07-18 15:34] Uepsilon commented on #5
i think aktivegetränke is a bit cheaper, but i'm still waiting for the reply of the other one (i've asked for other sorts of limonad / beer and mentioned that we're a non-profit event).. i'm going to call them tomorrow if they haven't send anything..

I don't think the prices will change much so i'm thinking drinks will cost around 2400€ (not including pawn / pfand which we'll hopefully return). W

[2013-07-18 16:06] raucao commented on #5
1500,-. And I still think it's too much. Still haven't had time to look up our last numbers, though. Will do it tomorrow finally!

[2013-07-18 16:07] raucao commented on #33
@badboy Sounds good!

[2013-07-18 16:28] koos commented on #34
Hey. Short update: I've contacted one of the Prof's from FH-Köln. He will contact some other persons and/or the Campus IT to figure out how if we can solve the problem. This is how it could looks like http://goo.gl/maps/MtRgt
He will come back to me on this tomorrow.

[2013-07-18 18:40] thegcat commented on #13
So, der bekannte Elektromeister könnte uns was leihen, auch Drehstrom falls vorhanden bzw. notwendig.

Wie sieht's z.B. in den größeren Räumen mit Starkstromanschluß aus? Sollen wir da mittig dann eine größere Verteilerdose rein tun? Wer hat da einen Überblick und könnte mal überschlagen, was wir brauchen?

[2013-07-18 20:49] jhilden commented on #13
Verteiler von den Starkstromanschlüssen sind vorhanden.  Wir sollten nur guckn, dass wir genug Mehrfachstecker haben und vielleicht noch 1-2 Kabeltrommeln.

[2013-07-18 20:57] jhilden commented on #45
@timbuchwaldt could you also bring the Liegestühle from adcloud?  Or do you have a plan how they could get to the venue?

[2013-07-19 06:05] timbuchwaldt commented on #45
@jhilden I won't have the transport capacity - who acked having them?

[2013-07-19 06:08] timbuchwaldt commented on #9
So, we sent CCMZ the "order-sheet" this week. We got everything they have - all cabling + all APs, including one for outdoor Wifi. Can I let them mail the box to Railslove, @jhilden / @koos ?

[2013-07-19 09:53] jhilden commented on #9
Sure thing @timbuchwaldt :

Railslove GmbH
Jan Kus
An der Bottmühle 5
50678 Cologne
Germany

[2013-07-19 11:59] code-later commented on #21
Foosball table is ordered and will be delivered at friday.

[2013-07-19 12:05] raucao commented on #21
BRING IT ON!

[2013-07-19 12:52] raucao commented on #5
Ok, last time, with about 80 attendees, we had 400 EUR in the budget, and we had plenty of drinks left over. I'm not sure if that was actually the number in the end, because I cannot find the invoice (and I probably never received one, because I didn't handle it last time).

I think we should calculate with about 150 people. Usually a single person will have 2 large beers per night on average, and

[2013-07-19 12:53] raucao commented on #5
Oh, and we can add a little more beer this time for the open Saturday night party I guess.

[2013-07-19 12:54] Uepsilon commented on #5
Ich hab nun mit Getränke Arndt gesprochen. Die Frau die das Angebot erstellt hat ist erst Montag wieder im Haus. Der Herr mit dem ich telefoniert habe hat mir aber schon mal zugesagt, dass die Kommissionsgebühren komplett weg fallen (unter der Voraussetzung, dass wir nicht einfach blind bestellen und dann 50% zurück gehen lassen).

Wenn wir jetzt noch die Preise von normaler Cola etc. bekommen und

[2013-07-19 13:05] code-later commented on #21
I forward the invoice to Ruby e.V. right?

[2013-07-19 13:06] Uepsilon commented on #5
@skddc we have 10 crates from putpat in addition to the ones we order. i guess we are well-supplied with beer. ;) in fact, we might even order a little less kölsch. I've forgot about those crates.

i've added price-tables to the [spreadsheet](https://docs.google.com/spreadsheet/ccc?key=0AkRu3FtKME1ydENLU2s2T3JEakhqd3hjaU5GRWlseVE#gid=0), but remember that water-prices from getränke-arndt are incor

[2013-07-19 13:07] raucao commented on #21
Yup.

[2013-07-19 13:12] Uepsilon commented on #45
@timbuchwaldt i'm driving on friday by car, so i can stop at adcloud and help you drive them over.. around 5pm..

[2013-07-19 13:22] raucao commented on #5
There's an average of 14 beer per person in the sheet. Just saying.

[2013-07-19 13:48] Uepsilon commented on #5
doh, i played with the numbers and forgot about it.. i've reverted it to 10 per person (0,33l) for 2 days, which would sum up to 1,5l per day.. that was the sum i was told to go with.. plus the 10 crates from putpat. i guess we won't run out of beer before we run out of internet. ;) before we order we can change the estimated number of people to something more realistic. i guess 130?

[2013-07-19 15:43] jhilden commented on #17
@bascht please fix the deal.

We haven't found dedicated coffee sponsor(s) yet, but we still have a couple of days left. Anybody any ideas?

The current estimate for the final participant count is something like 130-150 ppl. could you ask if that could make the price a little bit cheaper?  500€ seems a little much if you take into account that there are also people who don't drink any coffee (e.g.

[2013-07-19 16:00] raucao commented on #17
Yes, seems a bit much to me as well, given the assumption that probably even half the people don't drink coffee, especially when there's tons of Club Mate around.

[2013-07-19 22:12] wingfire commented on #5
Has someone checked out http://fassundflasche.de/ they are close to the community and made a good service for [Sigint](http://sigint.ccc.de) and [FrOSCon](http://www.froscon.de).

[2013-07-22 08:04] bascht commented on #17
The price was based on the number 200 - I just gave them a call:
- They'd make it 400€/day for a flat rate.
- They will bring  a banner
- We should decide if we want Crêpe (not included in the price)

As there are only 5 days left, I'd rather not dither any longer: **Yay or Nay?**

[2013-07-22 08:18] jhilden commented on #17
400€ still sounds a bit much to me as a non coffee drinker, especially considered that we'll probably have 40% less participants (calculating with 120) but they reduced the price only by 20% and they get a banner.  Maybe we can get another 50€/day reduction for a friendly non-profit event? :rabbit:

But since we :heart: coffee drinkers so much, it's defintely a **Yay** :thumbsup:

(since there was

[2013-07-22 09:16] raucao commented on #17
Let's hope the coffee is good then. :)

[2013-07-22 09:34] Uepsilon commented on #5
I did now, as i'm still waiting for a new offer from Getränke Arndt. I'd like to place an Order today / tomorrow, so if somebody wants to play with the number: DO IT NOW!

[2013-07-22 09:53] bascht commented on #17
Alright then. I call him to make the deal. Not sure if we need it beforehand, but:

Who will be invoiced to? Is it the ruby berlin e.V.?
When should the car arrive on saturday?

[2013-07-22 09:58] jhilden commented on #17
yes, invoice will go to Ruby Berlin e.V.:  http://rubyberlin.org/imprint

I would say the car should be ready to serve coffee by Saturday 10:00 the latest.  The campers sleeping the the skate hall will probably need it ;)

[2013-07-22 10:20] bascht commented on #17
_Sealed at 400._ (We're not really going bankrupt b/c of 50€, are we? :money_with_wings: )

They'll arrive at ~ 09:30 on saturday and have my number. I guess I'll be around the venue at around nine-ish.

[2013-07-22 10:59] cice commented on #3
if you have use for my PA system, i need to know when to be there, because i need to take a day off and organize a bigger car ;)

[2013-07-22 11:00] DonSchado commented on #43
stickers arrived

[2013-07-22 11:07] raucao commented on #3
Friday afternoon.

[2013-07-22 11:30] raucao commented on #17
FYI: We just found a sponsor for this.

[2013-07-22 12:51] bascht commented on #45
I'm available all day on friday - if needed I could also rent a bus / van from db carsharing.

[2013-07-22 12:54] jhilden commented on #45
@bascht that's awesome.   @koos was talking about doing the same thing, maybe you two want to team up.

We could use a car to get Liegestühle from Adcloud,  Bean Bags and stuff from the Railslove office, etc.

[2013-07-22 13:30] koos commented on #45
@bascht I thought to rent a Flinkster VITO at Maastrichterstr. Here is the tour I have in mind:

A. Pick up car
B. Pick up Sitzsäcke and Liegestühle
C. Pick up a Liegestuhl
D. Pick up other Stuff
E. Venue
F. Bring back car

https://maps.google.com/maps?saddr=Maastrichter+Stra%C3%9Fe,+Cologne,+Germany&daddr=Adcloud+GmbH,+Venloer+Stra%C3%9Fe,+Cologne,+Germany+to:Lindenstra%C3%9Fe+75,+Cologne,+German

[2013-07-22 13:31] bascht commented on #45
@koos Looks doable. Do you need a hand? :)

[2013-07-22 13:32] koos commented on #45
Would be cool. I thought to start at 1 PM and finish at about 3-4 PM. I think we will have one or two more stops to pick up some stuff.

[2013-07-22 14:14] raucao commented on #17
@bascht I need a phone number of the company, so the sponsor can give them a call and figure out how to best brand the thing.

[2013-07-22 14:27] bascht commented on #17
:speech_balloon: `-- off the record --`

[2013-07-22 15:28] hagenburger opened #47 "Swimming pool"
As it may get hot, we may need a pool. This one looks nice and is located close to Cologne: http://www.mietmeile.de/freizeit.kultur.sport.wassersport.events.messen.partys.pool.bornheim/xxl.schaumbecken-mieten.5699.php
- [ ] Check availability
- [ ] Organize transportation
- [ ] Water supply (a normal tab may be to small; I read about using fire hydrants at other websites)

[2013-07-22 15:31] rin commented on #47
OMFG!
+9000

[2013-07-22 15:52] raucao commented on #47
Awesomesauce!

Would it be a bad idea to set it up only on one day? It might make it too difficult with the timing and transportation.

[2013-07-22 16:45] Uepsilon commented on #47
I like the Idea! But is this a real pool or just something you can make some bubblewater with? How deep is it? Haven't found any infos about it. It says it's 2m deep but can you fill it that high (or at least 1m?).. 80m³ (1m_8m_10m) would cost roughly 250€. (wasser / abwasser).

[2013-07-22 17:01] hagenburger commented on #47
Unless the person on the photo is 2.5 m in height, it can’t be filled 2 meters. Also there’s an entrance. I would guess you can fill it with less than 80 cm.

I found the original website for this:
http://www.crypton-event.de/katalog/aquamodule-mieten/schaumbecken-mieten.html

![pool](http://cdn.crypton-event.de/fileadmin/user_upload/bilder/alle_freigestellt_web/eventattraktionen/schaudance_arena_

[2013-07-22 17:09] jhilden commented on #47
I like the idea, however I don't know how doable it is.  I will talk with the venue tomorrow and ask about water supply and what they think about it.

Maybe we can think about smaller, easier kinds of "water fun"?   e.g. @koos is definitely going to order a bunch of water pistols.

[2013-07-22 17:15] koos commented on #47
I'm thinking of this http://www.amazon.de/gp/offer-listing/B007N10E2S/ref=dp_olp_0?ie=UTF8&condition=all this http://www.amazon.de/Unbekannt-12-Poolkanone-Wasserspritze-Wasserpistole/dp/B0087BC8S6/ref=sr_1_5?s=toys&ie=UTF8&qid=1374513209&sr=1-5&keywords=Wasserpistolen and this http://www.amazon.de/Playtastic-Wasserbomben-Mega-Pack-500-St%C3%BCck/dp/B005RXJKM4/ref=pd_bxgy_toy_img_y

What do you thi

[2013-07-22 17:23] jhilden opened #48 "Ice cream (truck)"
If the weather is going to stay as sunny, some ice cream would defintely be nice at the camp.

Could anybody do some research on how we could get an ice cream truck to drive by the venue, or what it would take to get a big freezer with ice cream?  That would be awesome.

[2013-07-22 17:30] Uepsilon commented on #47
Wasserbomben pro (bitte auch noch [damit](http://www.amazon.de/Playtastic-Wasserbomben-Set-Praktische-F%C3%BCllhilfe-Ballons/dp/B005RXINQI), sonst geht das nicht schnell genug ;)

Die Poolkanonen wären geil wenn wir einen Pool hätten, sonst sind die wenig Zweckgemäß.

Achja, [DAS](http://www.amazon.de/Living-Point-Schneeball-Katapult-Wasserbomben-Schleuder-Solo-1-Mann-Bedienung/dp/B000A3I23Y) brau

[2013-07-22 17:36] jhilden commented on #44
Since it looks like the wather is going to be quite hot on the weekend **participants should definitely bring along stuff to cool them down**.  Beware: The venue is not so well insulated and it's going to be very hot in there.

Suggested things to bring along:
- Fan / Ventilator
- Light clothes
- Swim wear (see #47)
- Water pistols
- whatever else cools you down

[2013-07-22 17:37] #43 closed, assigned to nobody

[2013-07-22 17:38] jhilden commented on #37
Closing this issues because I don't think there is anything else to organize here.  Be sure to submit your podcasting session in the session management tool.

[2013-07-22 17:38] #37 closed, assigned to code-later

[2013-07-22 17:42] jhilden commented on #30
Please reopen this issue, if you still have RailsGrils stuff that you want to organize before the event, outside of the session planning app.

[2013-07-22 17:42] #30 closed, assigned to nobody

[2013-07-22 17:43] jhilden commented on #21
Closing this as it seems that everything is organized here.

[2013-07-22 17:43] #21 closed, assigned to code-later

[2013-07-22 21:45] koos opened #49 "What about a session to the Naturfreibad Vingst?"
http://goo.gl/maps/4ClLe

[2013-07-23 06:05] jhilden commented on #49
Sounds like a great session.  Please add it to the session planning app http://sessions.railscamp.de/ and close the issue here.  GitHub is only for event orga.

[2013-07-23 07:54] #49 closed, assigned to nobody

[2013-07-23 11:13] DonSchado commented on #22
"die shirts sind heute angekommen und werden donnerstag gedruckt"

[2013-07-23 12:12] Uepsilon commented on #5
New prices from Getränke Arndt (kölsch is a bit cheaper, soda-prices are as expected, except for water which would cost 10.30€ per crate for small bottles, compared to 2.85€ for normal 0,7l bottles)..

Fass und Flasche hasn't responded to my email yet, although I even called them. But they promised to send me an offer today.

@skddc: Do you still feel that it is too much to drink per person? Pleas

[2013-07-23 13:34] raucao commented on #5
Looks fine to me. I don't see numbers for water in there. We need plenty of it, because it's going to be the hottest weekend ever. Forecast currently says 37℃ on Sunday.

[2013-07-23 13:44] tatjanala commented on #28
It's done. We'll get a Sanyo PLC-XP55 4500 ANSI and two regular projectors (2800 ANSI) for 140€. A 20 m HDMI cable is inclusive. Someone has to pick it up at
Schmidt Dietmar
Tenktererstr. 3
50679 Köln
on Friday morning. 30€ are allready paid, but the one who picks it up has to pay 110€ + 300€ (deposit) in cash!

[2013-07-23 13:50] tatjanala commented on #16
I just booked two 4*6m tents for 480€. They will bring it Friday afternoon 4 pm and set it up, Monday afternoon they'll remove it.  We have to pay cash, they'll bring an invoice.

[2013-07-23 14:09] badboy commented on #34
@koos Anything new on that? Would be good to have a contact person on friday.

[2013-07-23 14:20] Uepsilon commented on #5
Since Fass und Flasche has not responded to my request, I think we should go with Getränke Arndt.

@skddc There are two prices:
10,30€ per Crate (24x0,33l -> 7,92l total)
2,85€ per Crat (12x0,7l -> 8,4l total)

I think there is no need to think which to choose.

@jhilden @thilo Can you please tell me if the Price is okay? ~1600€ without deposit. Everything that is left over can be returned without

[2013-07-23 14:26] raucao commented on #5
That doesn't make sense if we only have to pay what we use. We might have to give a deposit in advance, but we should be billed afterwards. No?

[2013-07-23 14:27] raucao commented on #34
Yeah, would be great to have a backup uplink, and it seems like this is very doable and there's already contact with the right people. Maybe he can give us email addresses or phone numbers of the IT dept?

[2013-07-23 14:30] Uepsilon commented on #5
That's what i thought but the offer said otherwise. I'll ask tomorrow. But
even the deposit is going  to be around 1000€.
Am 23.07.2013 16:26 schrieb "Sebastian Kippe" notifications@github.com:

[2013-07-23 14:53] badboy commented on #34
If we don't have a contact over there, who will give us access to the roof, it wouldn't make sense for us to come all the way to cologne (and I could stay in the pool the whole friday :sunny: :swimmer: )

[2013-07-23 15:06] colszowka commented on #47
@koos Please do not accidentally order [these](http://www.amazon.de/Stinkbomben-Schwarze-Schachtel-Extremer-Gestank/dp/B00915RJH2) instead. _For excercise and amusement I recommend checking out the product reviews though_

[2013-07-23 15:18] jhilden commented on #34
We have visited the FH's IT department today, but it didn't seem very likely that they want to help us.   Rooftop access shouldn't be a problem, but if they don't give us the necessary access to their network it doesn't look so good.

[2013-07-23 15:19] timbuchwaldt commented on #9
So.. the equiment magically made it to C4. I will get it on friday together with @zakx . Due to a snafu we might not have all LAN-cables. We will have to buy the lacking ones. If anyone has spare cables: Bring them.

I will bring a roll of cat5e and crimping equipment for 2-4 cables

[2013-07-23 15:35] Uepsilon commented on #10
Könnt ihr bitte Becher für das Wasser mitbringen?

[2013-07-23 15:40] #23 closed, assigned to jhilden

[2013-07-23 16:00] moonglum commented on #48
I asked [cafe plati](http://www.cafeplati.de) for a price and availability. I think Saturday afternoon would be a good timing? :smile: :ice_cream:

@jhilden Where can I find the current number of people that bought a ticket?

[2013-07-23 16:00] moonglum commented on #46
Awesome, @timbuchwaldt :dancer:

[2013-07-23 16:01] moonglum commented on #44
Ethernet Cables, as mentioned in #46

[2013-07-23 16:03] moonglum commented on #22
@DonSchado You're awesome :dancers:

[2013-07-23 16:05] moonglum commented on #16
Awesome, @tatjanala :+1:

Do we have fat boys etc. for inside the tent? :wink:

[2013-07-23 16:09] moonglum commented on #11
I guess there are still a few tweaks to do, but it's usable :wink: Did you already announce it officially?

[2013-07-23 16:16] colszowka commented on #44
How bad will it be with the heat, and do we still need sleeping bags? Also, I could not find any info on this, so on what days is sleeping at the venue possible? Only friday&saturday?

[2013-07-23 16:25] jhilden commented on #44
Sleeping at the venue will be possible Friday->Saturday  and  Saturday->Sunday.

[2013-07-23 16:31] jhilden commented on #44
Since we are not going to have the fastest internet in the world and certain limits on the data volume, it might make sense to prepare for that by:
- downloading vagrant boxes
- offline documentation for gems
- helping to setup #46

Any other suggestions?

[2013-07-23 16:32] jhilden commented on #16
We have a couple fatboys (like 3 or so) from Cowoco and we should get Liegestühle from AdCloud.

[2013-07-23 19:07] erdnusskeks commented on #47
What about Rasensprenger? Could be quite refreshing - and not that expensive (about 20,- €).
Choose your favourite! : )
http://www.youtube.com/watch?v=9DCT8rRLceI

[2013-07-24 06:46] jhilden commented on #47
Rasensprenger sounds good.  Does anybody have one?   Otherwise we'll try to get one on Friday.

[2013-07-24 08:57] koos commented on #34
First feedback from FH-Köln: they are able to support us.

On Jul 23, 2013, at 5:18 PM, Jakob Hilden notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp

[2013-07-24 10:26] raucao commented on #34
\o/

[2013-07-24 12:27] Uepsilon commented on #5
Order is placed at Getränke Arndt.

They will deliver on Friday around 14:30. If anybody can be around at that time to help @jhilden to unload the truck / pack everything into the cooler, that would be great. I asked them to put the beer in the fridge before so it will hopefully be delivered already precooled.

We don't need to pay in advance, billing will be done after collecting deposit and what

[2013-07-24 12:50] martinotten commented on #27
@jhilden looks like the chairs are needed at another event :(

[2013-07-24 13:54] raucao commented on #27
Which chairs?

[2013-07-24 13:54] jhilden commented on #27
Oh noes.  Where can get some Liegestühle now?  Anybody any ideas?

[2013-07-24 13:56] raucao commented on #5
Ok, great. Closing the issue then. Thanks a lot for taking care of this, @Uepsilon!!

[2013-07-24 13:56] #5 closed, assigned to nobody

[2013-07-24 13:57] raucao commented on #45
Drinks will arrive circa 14:30!

[2013-07-24 13:57] jhilden commented on #47
I checked with the venue, and they have only exactly **1** water faucet in the middle of the main hall.  This would have to be shared between the coffee car (#17) and any sort of water fun.  So maybe a Rasensprenger and a Planschbecken.

[2013-07-24 13:57] raucao commented on #27
Erento or sth?

[2013-07-24 13:59] jhilden commented on #10
@galfert @schorsch  We can use the kitchen at the venue and they have a limited supply of kitchenware, bowls etc.  We just have to make sure that we clean the kitchen afterwards.

[2013-07-24 14:02] jhilden commented on #28
At what time exactly can we pick up the projectors and who will do it?   Since we need to fix the big projector to the ceiling it would be good if it could be at the venue by noon.

[2013-07-24 14:15] klaustopher commented on #45
I'll bring the sponsored beer around the same time

[2013-07-24 15:31] tatjanala commented on #28
Friday morning around 8 am or Thursday evening. Projector guy number: 0163/8477785. Remember to bring the money!

[2013-07-24 15:50] raucao commented on #10
Yay. Will also make a salad or two.

[2013-07-24 16:58] jhilden commented on #44
I take that back, internet is probably going to be pretty ok.

[2013-07-24 17:21] p886 commented on #18
Below you'll find an email correspondence between @jhilden and me. I think it's a good idea to allow registration on Friday. What do y'all think? I can be at the site at around 6pm on Friday.

[code]

[code]

[2013-07-24 19:26] #44 closed, assigned to nobody

[2013-07-24 19:37] raucao commented on #47
Wouldn't we have to use a fire hydrant anyway?

[2013-07-24 20:43] erdnusskeks commented on #19
111 Namensschilder - yay! @tatjanala works on 20 more. Got so much support from the SWOYP ladies and Anna G. - really really great!

![111_namensschilder](https://f.cloud.github.com/assets/4786471/851686/de8ef2d0-f4a0-11e2-96d3-baecb0e842ef.jpg)

[2013-07-24 20:44] erdnusskeks commented on #19
Not to forget: the stamp design by lovely @lliane ! : )

[2013-07-24 20:58] erdnusskeks commented on #18
I will be there at about 5 / 5.30 pm and I can also help at the reception. And I bring the Namensschilder with me. : )

[2013-07-24 21:02] raucao commented on #19
Splendid!

[2013-07-24 22:17] bumi commented on #19
whoa! best namensschilder ever! :heart_eyes:

[2013-07-25 06:32] DonSchado commented on #19
Amazing! :)

[2013-07-25 07:38] netzvagabund commented on #45
I will be around at about 18:30 (depends on traffic), so I can't help much in advance. But you can count me in for the entrance (registration) and/or setting up the bar or something as soon as I arrive.

[2013-07-25 10:23] jhilden commented on #27
They have Liegestühle available for the weekend in Wuppertal, but they don't have any free cars to deliver them.  http://www.barnane.net/liegestuehle.html  7€/chair

Is by chance anybody with a decent sized car coming through Wuppertal?

[2013-07-25 10:30] raucao commented on #27
7 EUR for these crappy chairs? Sounds expensive.

Maybe we should check Baumarkt offers and just buy some.

[2013-07-25 10:37] jhilden commented on #27
There is a Bauhaus and a Praktiker pretty close to the venue, but I wasn't able to find any Liegestuhl prices online.

[2013-07-25 12:43] galfert commented on #10
Great. I forgot to ask if they have a pan. If not, can one of the locals bring one, please?

[2013-07-25 13:09] jhilden commented on #10
We'll find out tomorrow.

[2013-07-25 14:12] endverbraucher commented on #45
I’m available from midday/afternoon tomorrow and could help on what ever is needed to be done. When should I be where?

[2013-07-25 14:22] jhilden commented on #45
Just come over to the venue, whenever it's fine.  It's hard to predict what exactly will need to be done.

We could definitely still need somebody with a car who could pick up the projectors (but that would need to be before noon) and could make a run to the baumarkt later.

[2013-07-25 14:25] raucao commented on #45
What does "morning" mean in the list above? When are the first people arriving?

[2013-07-25 14:32] jhilden commented on #45
I will be at the venu from around 8:30-9:00 to check how we can get onto the roof.
The Richtfunk people will come over once they are done at the FH sometime after 9:00 I guess.

@railsbros-dirk & @larsvegas when did you want to come for the audio stuff?

@timbuchwaldt when will you an the wifi equipment be there?

@koos when will you bring the stuff from cowoco etc.?  (what else needs to be picked

[2013-07-25 14:35] code-later commented on #45
Hi, @larsvegas and me will be there at 10:00. The foosball table will be delivered by 18:00.

Do we still need our Beamer?

[2013-07-25 14:38] jhilden commented on #45
Another projector would be great.

[2013-07-25 14:39] code-later commented on #15
I have bad news on this one, unfortunately my wife cannot make. She worked a little bit too much the last weeks and really need this weekend off. Thus I prohibited her to come along a work again ;-) It's a bit sad, but I guess we still can do some GoPro action shots.

Sorry for any inconvenience.

[2013-07-25 14:40] code-later commented on #15
And I would just close this issue.

[2013-07-25 14:42] code-later commented on #45
No Problem, but I think I will bring it at Saturday along with the podcast equipment. Would that be okay?

[2013-07-25 14:42] larsvegas commented on #45
2013/7/25 Jakob Hilden notifications@github.com

What was the problem with them?
Lars

[2013-07-25 14:43] #15 closed, assigned to nobody

[2013-07-25 14:44] timbuchwaldt commented on #45
@jhilden I will grab zakx at 10, then drive stuff through the city, hope to be there at 11 maybe

[2013-07-25 14:51] larsvegas commented on #45
yep ok, @zakx and @timbuchwaldt have a key. i will not be there on saturday.

2013/7/25 Dirk Breuer notifications@github.com

[2013-07-25 15:07] jhilden commented on #45
@larsvegas They are unfortunately not available.  See https://github.com/railscamp/railscamp-germany-2013/issues/27#issuecomment-21482153

[2013-07-25 18:10] DonSchado commented on #45
count me in for "morning" ;)
I'll pick up the T-Shirts about ~10 and come straight over to kalk

[2013-07-25 18:21] jhilden opened #51 "Teardown/clenaup (on Sunday)"
The camp hasn't even started, but I'm already opening this issue for people to help tearing everything down and helping to clean up the venue on Sunday when everything is over (sometime after 5pm).

Stuff that will need to be done:
- dismount the Richtfunk equipment (at the venue and at the FH)
- clean the hall with the Kärcher thing they have
- tear down the audio equipment
- wifi equipment
- bri

[2013-07-25 18:44] timbuchwaldt commented on #45
@jhilden They are, we checked. If someone has a car big enough tomorrow, i can accompany him or her to the office and grab them

[2013-07-25 19:06] larsvegas commented on #45
@jhilden As Tim said, Liegestühle are save. And @timbuchwald and
@railsbrosdirk pick them up on saturday, AFAIK.
Am 25.07.2013 20:44 schrieb "Tim Buchwaldt" notifications@github.com:

[2013-07-25 21:22] jhilden commented on #45
@larsvegas That's great, that the Liegestühle are save.  @koos wanted to rent a small transporter tomorrow (Friday).  If you can give him the details where he can find them, who he should contact, he could probably pick them up.

[2013-07-26 06:00] bascht commented on #45
@koos I'm at HomeOfficeCologne today, so I'll be right next to Brabanter Straße. If today's deployment will go down smooth meet up right there?

[2013-07-26 06:02] koos commented on #45
Hey,
can you send me your mobile number? jan@railslove.com
Thx

On Jul 26, 2013, at 8:00 AM, Bascht notifications@github.com wrote:

##

Jan Kus

Railslove GmbH
An der Bottmühle 5, 50678 Cologne, Germany

Mobile +49 (0) 179 13 53 53 9
Twitter @koos

Registergericht: Amtsgericht Köln, HRB 70843
Geschäftsführer: Michael Bumann, Jan Kus, Tim Schneider

*\* We're proud of building: http://dealbaseapp.

[2013-07-26 07:38] raucao commented on #51
Count me in.

[2013-07-26 08:01] cice commented on #45
me and a colleague will arrive between 3 and 4 and bring the pa system, so if you need additional hands for anything, count us in.

[2013-07-26 08:05] jhilden commented on #28
FYI @tatjanala:  @DonSchado is coming to the venue now and can pick up the projectors between 12:00 and 12:30

[2013-07-26 10:29] eimann commented on #34
We succeeded, @railscamp does have working Internet now.

[2013-07-26 10:31] moonglum commented on #34
You rock!! :rocket:

[2013-07-26 10:58] raucao commented on #34
What @moonglum said!

[2013-07-26 10:58] #34 closed, assigned to nobody

[2013-07-26 11:00] #3 closed, assigned to code-later

[2013-07-26 11:01] raucao commented on #46
Forget about this one. ;)

[2013-07-26 11:01] #46 closed, assigned to nobody

[2013-07-26 11:02] raucao commented on #22
They're beautiful!

[2013-07-26 11:02] #22 closed, assigned to DonSchado

[2013-07-26 11:03] raucao commented on #9
It's working great. Good job!

[2013-07-26 11:04] badboy commented on #34
\o/ :smile:

[2013-07-26 11:11] #42 closed, assigned to nobody

[2013-07-26 11:16] jhilden commented on #28
We have the projectors here.  However, we didn't get the ~20m DVI cable that we needed.  Anybody any idea where we could rent a cable until tomorrow, or buy one for a decent price?

[2013-07-26 13:19] cice commented on #45
and our car broke down, could be a while

[2013-07-26 14:55] raucao commented on #45
Damn. Good luck!

[2013-07-26 15:36] sschiffer commented on #17
hey guys,
i'll attend the camp representing InVision (coffee sponsor) from Saturday afternoon until the very end... Tomorrow morning a colleague of mine will be at the venue to decorate the coffee place a bit... If you need any further details, just give me a shout...

[2013-07-26 18:28] mortro opened #52 "where are the stickers? :wink:"

[2013-07-27 01:32] mortro commented on #52
WHERE U STICKAAAS!

[2013-07-27 01:33] mortro commented on #52
¿Estas Sticaros?

[2013-07-27 06:24] DonSchado commented on #52
:D Stickers are at the venue! ALL MINE!!!!!!

[2013-07-28 14:05] jhilden commented on #9
@timbuchwaldt will take care of the paperwork, bank account number, etc. for the donation to the CCC Mainz.

[2013-07-28 16:00] badboy opened #53 "Wireless Abbau"
Aus der FH muss mit:
- [x] Cisco-Router
- [x] 30m Kabel
- [x] PoE-Adapter
- [x] Richtfunkantenne

Dazu:
- [x] 2. Richtfunkantenne
- [x] 30m Kabel aus den Hallen
- [x] PoE-Adapter

Zeug aus den Abenteuerhallen bereits abgebaut und vorerst im Auto verstaut.

/cc @koos, @thegcat, @eimann

[2013-07-28 22:03] klaustopher opened #54 "Great Camp!"
'nuff said ;)

[2013-07-29 05:57] thegcat commented on #54
:+1: :+1:

[2013-07-29 07:39] koos commented on #53
@thegcat - sollen wir uns um 12 an der Bib treffen? http://goo.gl/maps/cSrLo

[2013-07-29 07:46] koos opened #55 "Sun glasses lost"
I lost my black Ray Ban sun glasses.
Did somebody saw them?

[2013-07-29 08:03] thegcat commented on #53
Ich mache mich jetzt auf den Weg zur Bottmühle, können uns da oder dann an der FH treffen.

[2013-07-29 09:44] koos commented on #53
Ich bin um 12 an der FH
On 29 Jul 2013 10:03, "Felix Schäfer" notifications@github.com wrote:

[2013-07-29 10:00] thilo commented on #8
Can somebody transfer the money to the vereins account please?

KNR: 1008381756
BLZ: 120 300 00

IBAN: DE44120300001008381756
BIC: BYLADEM1001

[2013-07-29 12:14] thegcat commented on #53
So, bald habe ich alles, @badboy wann kommt das wohin?

[2013-07-29 12:26] badboy commented on #53
Also im Büro ist jemand. Du kannst vorbeikommen, wenn du willst. Ich geb dir eben die Nummer per SMS durch, ungefähre Zeit?

[2013-07-29 12:27] thegcat commented on #53
Bin aktuell noch in Köln, sagen wir lieber morgen falls morgen jemand da ist. Kannst auch gerne meine Nummer weitergeben/mir die Nummer des Büros einfach geben.

[2013-07-29 16:34] raucao commented on #8
It will be automatically transferred to that account 3 days after the event.

[2013-07-29 16:43] jhilden commented on #9
@timbuchwaldt this is the information I got from @thilo :

Can you take care of asking them?

Also,  does anybody have an idea for a cheap way of shipping the big box to Mainz?

[2013-07-29 17:05] jhilden opened #56 "Pick up stuff from the venue"
We still have a couple of things at the venue that we couldn't take with us yesterday:
- fatboys & Liegestühle from AdCloud
- some remaining drink crates
- wifi hardware
- etc.

Is there by chance any hero with a car that could pick up those things tomorrow or Wednesday and bring them to the AdCloud and Railslove offices?

[2013-07-30 13:37] larsvegas commented on #56
AFAIK there is also a TV-Screen Fan of Adcloud.
@timbuchwaldt may you give your infos?!

I am not able to pick the stuff up for myself (sorry) anyone else maybe?

[2013-07-30 14:55] jhilden commented on #56
Since nobody could be found, @namxam and I will rent a Flinkster car tomorrow at 10:00 and get the stuff.  We will first drive to the Railslove office and then to AdCloud.  Can I have a contact person + mobile number at AdCloud and some help when we arrive there (between 11:00 and 12:00)?  @larsvegas or @timbuchwaldt ?

[2013-07-30 15:19] badboy commented on #53
Wie ich hörte, alles wieder in Dortmund angekommen. Danke.

[2013-07-30 15:19] #53 closed, assigned to koos

[2013-07-30 15:53] larsvegas commented on #56
Ring the bell on the 6th floor, and bring the stuff to the fifth. Somebody
(Sebastian/Sascha/Verena/Alwin/Myself) will be there. @namxam got my mobile
number in case of problems. THANKS GUYS!

Lars

2013/7/30 Jakob Hilden notifications@github.com

[2013-07-31 08:41] jhilden commented on #56
Unfortunately we had issues renting the Flinkster car, so we will try again tomorrow or Friday.

[2013-08-04 18:32] timbuchwaldt commented on #9
Wifi is returned safely to CCMZ. If anything misses we will be told by them, but i don't see that :)
Regarding the donation:
CCCMZ is a "gemeinnütziger Verein" and therefore can't write invoices. They checked with their Kassenwart, they can write us a receipt for a normal donation.

[2013-08-04 18:56] raucao commented on #9
Uh, Ruby Berlin e.V. is the same and we're writing invoices to sponsors. @thilo?

[2013-08-05 08:40] thilo commented on #9
Das ist so nicht richtig, meines Wissens Auch ein gemeinnutziger Verein
darf wirtschaftliche Einnahmen und Ausgaben haben, die muss er halt
versteuern.
Ich hab mich schon einige Stunden mit Steuerberater und
Vereinsvorständen hingesetzt um diese Fragen zu klären.

Hier mein privaten Notizen zu dem Sachverhalt.

https://docs.google.com/document/d/16RvwUHpzLW1DgMy877IteUonsFBgmElrsfz_Dpf6J8A/edit?us

[2013-08-15 20:30] jhilden commented on #9
@timbuchwaldt kannst du nochmal nachhaken, wie wir das mit dem CCC Mainz jetzt am besten machen können?  Ich würde denen schon gerne was geben.

[2013-08-21 11:09] timbuchwaldt commented on #9
@jhilden Mail is raus :)

[2014-06-17 14:59] RmMsr commented on #7
Requested access to 2013 sponsors list for reuse in 2014.

[2014-06-17 15:03] jhilden commented on #7
"access granted" :unlock:

[2014-09-03 14:32] RmMsr commented on #21
@railsbros-dirk Wer war den der Anbieter der zwei Kicker über das WE für 280 vermietet? Ich suche für einen Sponsor 2 brandbare Kicker.

[2014-09-03 14:50] code-later commented on #21
@RmMsr Das war [meinkicker.com](http://meinkicker.com). Kontakt war der Elias Schmoz (eliasschmoz@gmail.com).

[2014-10-28 13:52] #33 closed, assigned to galfert

[2014-10-28 13:56] colszowka commented on #33
:tada:

[2014-12-11 16:16] #7 closed, assigned to koos

[2014-12-11 16:16] #8 closed, assigned to raucao

[2014-12-11 16:16] #9 closed, assigned to timbuchwaldt

[2014-12-11 16:16] #10 closed, assigned to schorsch

[2014-12-11 16:16] #11 closed, assigned to nobody

[2014-12-11 16:16] #13 closed, assigned to jhilden

[2014-12-11 16:16] #14 closed, assigned to koos

[2014-12-11 16:16] #16 closed, assigned to jhilden

[2014-12-11 16:16] #17 closed, assigned to nobody

[2014-12-11 16:16] #18 closed, assigned to p886

[2014-12-11 16:16] #19 closed, assigned to nobody

[2014-12-11 16:16] #20 closed, assigned to nobody

[2014-12-11 16:16] #27 closed, assigned to jhilden

[2014-12-11 16:16] #28 closed, assigned to tatjanala

[2014-12-11 16:16] #29 closed, assigned to jhilden

[2014-12-11 16:16] #36 closed, assigned to nobody

[2014-12-11 16:16] #38 closed, assigned to nobody

[2014-12-11 16:16] #45 closed, assigned to nobody

[2014-12-11 16:16] #47 closed, assigned to nobody

[2014-12-11 16:16] #48 closed, assigned to nobody

[2014-12-11 16:16] #51 closed, assigned to nobody

[2014-12-11 16:16] #52 closed, assigned to nobody

[2014-12-11 16:16] #54 closed, assigned to nobody

[2014-12-11 16:16] #55 closed, assigned to nobody

[2014-12-11 16:16] #56 closed, assigned to nobody

[2014-12-11 16:17] #4 closed, assigned to tatjanala

[2014-12-11 16:17] #6 closed, assigned to thilo